

.title {
    display: flex;
    justify-content: space-between;
}

.actionButtons {
    margin-top: 8px;
    margin-left: 10px;
  }

  .actions {
    display: flex;
  }

  .btn ,.btn:hover {
    color: #ea6225 !important;
    font-size: 10px !important;
    font-weight: bold !important;
    padding: 2px 12px 0px 0px !important;
  }

  .icon {
    font-size:12px !important;
    margin-right: 4px; 
  }

  .actionButton {
    margin-top: 20px;
    background: #ea6225;
    color: white;
    width: 100%;
    min-height: 42px;
    text-transform: none;
    font-size: 13px;
    font-weight: 800;
    white-space: unset;
    height: auto;
  }