@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import '../app/containers/App/styleconstants.css';

$border-size: 0.2em;
$standard-space: 1.5em;
$standard-color: var(--sidebarSecondaryColor);
$secondary-color: var(--sidebarColor);
$primary-dark: var(--navbarColor);
$label-color: #042322;
$input-color: var(--textBoxOutlineColor);
$text-color: $primary-dark;
$bg-color: var(--containerBackground);
$title-color: $secondary-color;

@include theme-maker("default", ());
@include generate-button("standard", $secondary-color, white);
@include generate-button("white", white, $secondary-color);

body,
html,
#app {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

:focus {
  outline: 0 !important;
}

a {
  color: $secondary-color;
}

input {
  color: $text-color;
}

label { margin-bottom: 0; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.anonymous-form-wrapper {
  margin: 1em auto;
}

.space {
  margin-top: $standard-space;
}

html.touchevents {
  #body {
    margin-top: 100px !important;

    & > div {
      padding-top: 0 !important;
    }
  }

  #sidebar {
    #sidebar-container {
      .sidebar {
        overflow-y: hidden !important;
      }
    }
  }
}

html.default {
  body  {
    font-family: 'Lato', sans-serif;
    background: $bg-color;
    color: $text-color;

    #sidebar {
      background: var(--sidebarSecondaryColor);
      background: -moz-linear-gradient(top,  var(--sidebarSecondaryColor) 0%, var(--sidebarColor) 100%);
      background: -webkit-linear-gradient(top,  var(--sidebarSecondaryColor) 0%,var(--sidebarColor) 100%);
      background: linear-gradient(to bottom,  var(--sidebarSecondaryColor) 0%,var(--sidebarColor) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--sidebarSecondaryColor)', endColorstr='var(--sidebarColor)',GradientType=0 );

      &.open {
        left: 0;
        z-index: 200;
      }

      #demo-icon {
        color: white;
      }

      & + #navbar + #body {
        height: 100%;

        &.open {
          margin-left: 250px;
          margin-right: -250px;

          @media (min-width: 990px) {
            margin-right: 0;
          }
        }
      }
      #avatar {
        background: $primary-dark;
      }
    }

    #rubix-nav-header {
      background: $primary-dark;
      color: white;
    }

    .sidebar-nav-container > .sidebar-nav {
      border: none;
      margin-left: 0;
      margin-right: 0;
    }

    .navbar-nav {
      & > li {
        &.sidebar-btn {
          & > a {
            background: var(--sidebarSecondaryColor) !important;
            &:hover {
              background: var(--sidebarSecondaryColor) !important;
              opacity: 0.8;
            }
          }
        }
      }
    }

    .sidebar-nav > li {
      span {
        margin-right: $standard-space / 2;
      }

      &.active {
        border-left: 5px solid $secondary-color;

        & > a {
          background: rgba(black, .5);

          &:hover,
          &:focus {
            border: 0;
            background: rgba(black, .5);
          }
        }
      }

      & > a {
        color: white;
        font-size: 14px !important;

        &:hover,
        &:focus {
          border-left: 5px solid $secondary-color;
          background: rgba(0,0,0,0.025);
          padding-left: 20px;
        }
      }
    }
  }
}

.sidebar-nav-item a {
  transition: 0.25s background-color;
}

.catalogView .nav-tabs > li > a, .nav-tabs > rubix-menu > li > a,
.catalogView .nav-tabs > rubix-nav-item > li > a {
  font-size: 0.8em;
}

#avatar {
  color: $secondary-color !important;
  box-shadow: 1px -2px 12px rgba(0,0,0,0.5);
}

.logoutButton {
  transition: 0.25s all;
  position: relative;
}

.logoutButton:hover {
  opacity: 1;
  color: #d9534f;
}

.logoutButton:disabled {
  color: white;
  opacity: 0.75;
}

.logoutButton:disabled:after{
  content: '\ed86';
  font: normal normal normal 14px/1 "fontello";
  top: 20%;
  left: 100%;
  position: absolute;
  color: white;
  -webkit-animation: fa-spin 0.5s infinite linear;
  animation: fa-spin 0.5s infinite linear;
}

.footer-copyright-notice {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1em;
  font-size: 10px;
  text-align: center;
  line-height: 4px;
}

.form-group {
  margin-top: $standard-space * 2;
}

.modal-dialog {
  margin-top: 10em;

  .modal-body {
    color: $label-color;
    font-weight: bold;
  }

  .modal-content {
    border-radius: 4px;
    border: 0;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    padding: $standard-space;

    .modal-header {
      border: 0;
      color: $label-color;
      padding-top: $standard-space / 2;
      margin-bottom: $standard-space / 2;
    }
  }
}

label {
  margin-top: $standard-space;
}

input,
select,
textarea {
  width: 100%;
  border: 2px solid $input-color;
  border-radius: 2px;
  margin-top: $standard-space / 3;
  line-height: 2em;
  text-indent: 5px;

  &:focus {
    border-color: $standard-color;
  }
}

textarea {
  height: 6em;
}

table.dataTable {
  thead {
    color: $label-color;

    th,
    td {
      border: 0;
      color: desaturate(lighten($secondary-color, 25%), 25%);
      padding: 0 $standard-space;
    }

    .sorting,
    .sorting_asc,
    .sorting_desc {
      background-position: left;
    }
  }

  tbody {
    tr {
      color: $text-color;
    }

    td {
      padding-right: 0;
      padding-left: 0;

      @media (min-width: 1360px) {
        white-space: nowrap;
      }
    }
  }

  &.no-footer {
    border: 0;
  }
}

.dataTables_wrapper {
  color: inherit;

  .dataTables_length,
  .dataTables_filter {
    margin-bottom: $standard-space;
  }

  .dataTables_paginate {
    .paginate_button {
      margin-bottom: $standard-space + 0.5em;

      &.current {
        background-color: $standard-color;
        border-radius: 100px;
        color: white;
        &:hover,
        &:focus {
          color: white;
          background-color: $secondary-color;
        }
      }

      &.disabled {
        color: rgba($text-color, 0.3) !important;

        &:hover {
          color: rgba($text-color, 0.3) !important;
        }
      }
    }
  }
}

.dataTables_wrapper .dataTables_length select {
  width: 60px;
}

.table-responsive {
  border: 0;
}

.burgerMenu {
  text-align: center;

  .open {
    margin-left: 250px;
    margin-right: -250px;
    transition: all 0.3s ease;

    @media (min-width: 990px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.rubix-panel-body {
  padding-bottom: $standard-space;

  h1, h2, h3 {
    margin-top: 0;
  }
}

.odd,
.even {
  &:hover {
    background: #EEE !important;
    cursor: pointer;
  }
}

.action-button {
  margin-bottom: $standard-space;

  &.right {
    float: right;
  }
}

.ril-toolbar {
  display: none !important;
}

.ReactModal__Overlay {
  z-index: 99999 !important;
}

@media only print {
  .print-ready {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    .rubix-panel-container {
      overflow: visible;
    }
  }
  .closeDetailViewButton {
   display: none;
  }
}

// Select field looked very ugly. I just stuck this in here.

form select {
  border: 2px solid var(--textBoxOutlineColor);
  border-radius: 2px;
  margin-top: 0.5em;
  line-height: 2em;
  text-indent: 5px;
  height: 34px;
}

// uploading progress indicator for file upload

.fileUploadProgress,
.fileUploadCompleted,
.fileUploadFailed {
  position: relative;
}

.fileUploadProgress::before,
.fileUploadCompleted::before,
.fileUploadFailed::before {
  background: rgba(0, 0, 0, 0.5);
  content: ' ';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.fileUploadProgress::after,
.fileUploadCompleted::after,
.fileUploadFailed:after {
  font: normal normal normal 64px/1 "fontello";
  position: absolute;
  top: 45%;
  left: 45%;
}

.fileUploadProgress::after {
  content: '\ed86';
  color: white;
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}

.fileUploadCompleted::after {
  content: '\e839';
  color: #d6e9c6;
}

.fileUploadFailed::after {
  content: '\eebd';
  color: #a94442;
}

// Loader classed added to button elements that are currently in a loading state.

.buttonLoading:disabled {
  color: rgba(255, 255, 255, 0.2);
  position: relative;
}

.buttonLoading:disabled::after {
  content: '\ed86';
  font: normal normal normal 14px/1 "fontello";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  color: white;
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}

.button:hover:active {
  background-image: rgba(255, 255, 255, 0.2);
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

// === DATATABLES ===

.spicy-datatable {
  width: 100%;
  overflow: scroll;
  padding: 0;
  margin: 0 auto;
  background: #fff;
  text-align: left;
  border-spacing: 0;
}

.spicy-datatable > tbody > tr > td,
.spicy-datatable > tfoot > tr > td,
.spicy-datatable > thead > tr > th {
  box-sizing: border-box;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-top: 1px solid #ddd;
  vertical-align: middle;
}

.spicy-datatable > tbody > tr {
  transition: 0.25s;
}

.spicy-datatable > tbody > tr:hover {
  background: whitesmoke;
}

.spicy-datatable > tbody > .spicy-datatable--selected-row,
.spicy-datatable > tbody > .spicy-datatable--selected-row:hover {
  background: #eee !important;
  color: var(--navbarColor);
}

.spicy-datatable> thead > tr > th {
  border-top: 0;
}

.spicy-datatable-counter {
  text-align: left;
  padding: 0 20px;
  opacity: 0.75;
}

.spicy-datatable-pagination-root {
  width: 100%;
  position: relative;
  margin: 1rem auto;
  overflow: auto;
}

.spicy-datatable-pagination-list {
  list-style: none;
  display: inline-block;
  position: relative;
  background: #fff;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button {
  font-size: 1.35rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  float: left;
  color: #ccc;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 100%;
  transition: 0.25s all;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button-elipsis:hover {
  background: #fff !important;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button.active {
  background: var(--sidebarColor);
  color: #fff;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button:hover {
  background: #7a7ca0;
  color: #fff;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button-elipsis:hover {
  background: #fff !important;
  color: #ccc;
  cursor: default;
}

.spicy-datatableoptions-search {
  text-align: right;
  float: right;
  width: 50%;
}

.spicy-datatableoptions-sizepicker {
  float: left;
  text-align: left;
  cursor: pointer;
  width: 50%;
}

.spicy-datatableoptions-sizepicker--selectfield {
  margin: 0 5px;
  width: 75px !important;
}

.spicy-datatableoptions-search--input {
  margin-left: 10px;
  max-width: 200px !important;
}

.spicy-datatableoptions-search--input,
.spicy-datatableoptions-search--label {
  cursor: pointer;
}

.spicy-datatableoptions-search--label {
  margin-top: 0 !important;
}

.closeDetailViewButton {
  float: left;
}

.closeDetailViewButton a {
  transition: 0.25s all;
}

.nav > li > a,
.nav > rubix-nav-item > li > a,
.nav > rubix-menu > li > a {
  padding: 4px 15px;
}

@media (min-width:1025px) {
  html.default body {
    #sidebar {
      width: 200px;

      #sidebar-container {
        width: 200px;

        .sidebar {
          width: 200px;
        }
      }

      & ~ #body {
        margin-left: 200px;
      }

      & + #navbar {
        & + #body.open {
          margin-left: 200px;
        }
      }
    }

    #rubix-nav-header {
      margin-left: 200px;
    }
  }
}

.rst__rowLabel {
  width: 100%;
  padding-right: 0;
}

.rst__nodeContent {
  right: 0;
}