.actionButtons { /* stylelint-disable */
    margin-top: 1.5em;
    text-align: center;
}

.saveButton {
    background: #757575;
    border-color: var(--mediumLightGray);
    width: 92px;
    height: 35px;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 7px;
}

.saveButton:hover {
    background: #757575;  
    border-color: var(--mediumLightGray);  
}

.form {
    display: flex;
    justify-content: center;
}