.boxAnalytic { /* stylelint-disable */
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

.path {
  color: inherit;
}

.records {
  margin: 0.5em 0;
}

@media (min-width: 1152px) {

  .boxAnalytic { /* 6.5 release */
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 13px;
  }
  .tableAnalytic:nth-child(odd) {
    padding-right: 7.5px;
    padding-left:15px;
  }

  .tableAnalytic:nth-child(even) {
    padding-left: 7.5px;
    padding-right:15px;
  }

  .chartAnalytic:nth-child(odd) {
    padding-right: 7.5px;
    padding-left: 15px;
  }

  .chartAnalytic:nth-child(even) {
    padding-left: 7.5px;
    padding-right:15px;
  }
  .records { /* 6.5 release */
  	padding: 0px;
  }
  
  .rowRecords { /* 6.5 release */
  	padding-left:15px;
  	padding-right:15px;
  }
  
  .rowRecords .records:nth-child(even) { /* 6.5 release */
   	text-align: right;
  }
}

.pieTitle {
  text-align: center;
  font-size: 1.2em;
  height: 2em;
  margin: 0.5em;
  color:#EA6225;
}

.bgIcon {
  position: absolute;
  right: -30px;
  bottom: -30px;
  font-size: 14em;
  line-height: 0;
  opacity: .06;
}

.pieSection + .pieSection {
    margin-right: 1em;
}
.title {
  min-height: 45px;
  font-size: 18px;
  text-align:center;
  font-weight:bold;
}

.view {
  margin-bottom: 80px;
}

.ipadView {
  margin-top: 1em;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 80px;
}