.title {
    font-size: 18px;
    text-transform: capitalize;
    margin: 1em;
  }
  
  .titleHead {
    font-size: 20px;
    text-transform: capitalize;
    margin: 0em;
    margin-top: 1.5em;
    color: #EA6225
  }
  
  .space {
    margin-top: 2.3em;
  }
  
  .practiceAddress p{
    margin: 0;
  }
  
  .flexible {
    margin-left: 2.5em;
    margin-right: 2.5em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .flexibleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 0px;
  }
  
  .view {
    margin-bottom: 80px;
  }