.Checkbox{
    padding: 0px !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    margin: 0px 25px 0px 25px;
    background: #a2a2a2
}

.checkboxContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    height: 45px;
}

.checkboxContainer > input {
    white-space: nowrap;
    width: auto;
    margin: 0 0.5em 0 0;
    font-size: 115%;
}


.checkboxContainer >

h1{
    font-weight: 400;
    font-size: 2em;
    cursor: default;
    margin: 0 0 .5em 0;
}

.checkboxContainer > input[type='checkbox']{ height: 0; width: 0; border: 0px; display: none;}

.checkboxContainer > input[type='checkbox'] + label{
    position: relative;
    display: flex;
    margin: .6em 0;
    align-items: center;
    transition: color 250ms cubic-bezier(.4,.0,.23,1);
}
.checkboxContainer > input[type='checkbox'] + label > ins{
    position: absolute;
    display: block;
    bottom: 0;
    left: 2em;
    height: 0;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    transition: height 300ms cubic-bezier(.4,.0,.23,1);
}
.checkboxContainer > input[type='checkbox'] + label > ins > i{
    position: absolute;
    bottom: 0;
    font-style: normal;
}
.checkboxContainer > input[type='checkbox'] + label > span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 2em;
    height: 2em;
    background: transparent;
    border: 2px solid #FFF;
    border-radius: 100px;
    cursor: pointer;  
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
}

.checkboxContainer > input[type='checkbox'] + label:hover > span, .checkboxContainer > input[type='checkbox']:focus + label > span{
    background: rgba(255,255,255,.1);
}
.checkboxContainer > input[type='checkbox']:checked + label > ins{ height: 100%; }

.checkboxContainer > input[type='checkbox']:checked + label > span{
    border: 2px solid #FFF;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
    background: #757575;
}
.checkboxContainer > input[type='checkbox']:checked + label > span:before{
    content: "";
    position: absolute;
    top: .6em;
    left: .2em;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(1,.23,.0,.4) forwards;
}

@keyframes shrink-bounce{
0%{
    transform: scale(1);
}
33%{    
    transform: scale(.85);
}
100%{
    transform: scale(1);    
}
}
@keyframes checkbox-check{
0%{
    width: 0;
    height: 0;
    border-color: #ffff;
    transform: translate3d(0,0,0) rotate(45deg);
}
33%{
    width: .6em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
}
100%{    
    width: .6em;
    height: 1em;    
    border-color: #ffff;
    transform: translate3d(.2em,-.6em,0) rotate(45deg);
}
}


.disabled > input[type='checkbox'] + label > span {
    border: 2px solid #7F7F7F !important;
}

.disabled > input[type='checkbox']:checked + label > span{
    border: 1px solid #7F7F7F !important;
    background: #7F7F7F !important;
}

.titleHead {
    width: 100%;
    display: flex;
    align-items: center;
}

.img {
    width: 28px;
    cursor: pointer;
}
.Label {
    background: #87b44d;
    color: white;
    height: 32px;
    width: 102px;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
}

.days {
    margin-top: 0px;
}

.dots {
    position: relative;
    top: 28px;
    left: -40px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    z-index: 9999;
    transition: opacity .25s ease;
    display: none;
}

.dots span {
    background: #FFF;
    border: none;
    height: 2px;
    width: 2px;
    position: absolute;
    top: 0;
    left: 10px;
    transition: all .35s ease;
    cursor: pointer;
    border-radius: 12px;
}

.dots span:nth-child(2) {
    top: 6px !important;
}

.dots span:nth-child(3) {
    top: 12px !important;
}

.dots span:last-child {
    top: 18px !important;
}

.text {
    padding: 25px;
    display: none;
}

.text img {
    height: 250px;
    margin-top: 90px;
}

.time {
    width: 150px;
    background: #a2a2a2;
    border-radius: 8px;
    color: white;
    margin-left:25px;
    padding-bottom: 25px;
}

.time select {
    width: 62px;
    font-weight: bold;
    border-radius: 4px;
    height: 32px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 12px;
}

.time h4, .rowLabel {
    text-align: center;
    font-weight:bold;
    margin-top:20px;
    margin-bottom:0px;
    color: #FFF;
}

.rowDayLabel {
    text-align: center;
    font-weight:bold;
    margin-top:20px;
    margin-bottom:40px;
    color: #FFF;
}

.hours {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
}