

  .actions {
    display: flex;
    flex-direction: row;
  }

  .actions span {
      margin-right:3px;
  }

  .btnDelete ,.btnDelete:hover {
    color: #ea6225 !important;
    font-size: 14px !important;
    padding: 0px 12px 0px 0px !important;
    text-transform: capitalize;
  }