.paymentDetails{
    color: #ea6225;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding-right: 12px;
    margin-top: -28px;
  }
  
  
  .body {
    min-height: 200px;
  }