.btn ,.btn:hover {
    color: #ea6225 !important;
    font-size: 10px !important;
    font-weight: bold !important;
    padding: 2px 12px 0px 0px !important;
  }

  .icon {
    font-size:12px !important;
    margin-right: 4px; 
  }

.header {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* margin: 0px; */
  position: relative;
  top: -9px;
  width: 95%;
}
  

  .InputField {
    border: none !important;
    /* border-bottom: 2px solid var(--textBoxOutlineColor); */
    margin: 0px !important;
    padding: 0px !important;
    color: gray !important;
    font-weight: 400;
    font-size: 14px;
    border-radius: inherit;
    font-family: 'Lato', sans-serif;
    box-shadow: 0px 1px 3px grey;
    border: 1px solid gray;
    background: #FFF;
    margin: 0px;
    border-radius: 5px;
    height: 24px;
  }

  .actions {
    display: flex;
    flex-direction: column;
  }

  .editForm {
    position: relative;
    z-index: 99999999999;
  }

.img{
  cursor: pointer;
  margin-right: 1.5em;
  width: 50px;
  height: 50px;
}