.patientModule {
    color: #FFFF;
    background: #6d6e6f !important;
}

.titleHeader {
   text-align: center;
   min-height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;	
}

.title {
  color: #FFF !important;
  font-weight: bold;
  font-size: 17px;
}
.imgText {
  display:flex;
  flex-direction: column;
  color:white;
  text-align: center; 
  font-size: 12px;
}

.patientTitle {
  font-size: 22px;
  overflow:hidden; 
  white-space:nowrap;
  margin-top: 12px;
  display:flex;
  justify-content: space-between;
}

.patientName {
 font-weight: bold;
  font-size: 22px;
  overflow:hidden; 
  white-space:nowrap;
  display:flex;
  justify-content: space-between;
}

.hr {
  width: 100%;
  margin-right: 14px;
  float:left;
}

.headerLine {
  width: 100%;
  margin-right: 18px;
}


.label {
  float: left;
  margin-right: 20px;
  margin-top: 3px;
}


.btn,.btn:hover  {
  background: none;
  border: none;	
  text-transform: capitalize;
  font-weight: 400;
  font-size: 13px;
}

/*.patientInfo th {
  border-bottom: none !important;
  padding: 0px !important;
  color: #ced0d2 !important;
  font-weight: 400;
  border-top:none !important; 
}

.patientInfo tr td {
  border-top: none !important;
  padding: 0px !important;
}*/

.patientInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.patientInfo div {
  display: flex;
  flex-direction: column;
}

.patientInfo div span {
  color: #ced0d2 !important;
}

.patientTile {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0px;
  margin-right: 35px;
}



@media only screen and (min-width: 1152px) {
  .patientTile:nth-child(5n) {
    margin-right: 0px;
  }
}

.img {
  cursor: pointer;
  margin-right: 1.2em;
  width: 36px;
  height: 36px;
  margin-bottom: 1.2em;
}

.imgC {
  cursor: pointer;
  margin-right: 1.2em;
  width: 36px;
  height: 36px;
  margin-bottom: 1.2em;
  margin-left: 7px;
}

.tile {

  width: 60px;
  height: 60px;
}

.formTitle {
  color: #fff;
  font-weight: 700;
  margin-top: 10px;
  font-size: 13px;
}

.patientLink {
  border: 1px solid #E1E1E2;
  text-align: center;
  height: 160px;
  background: #A2A2A6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.header {
  background: #98999a !important;
}

.body {
  background: #6d6e6f !important;
  overflow: auto;
  overflow-y: scroll;
  height: 600px;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* SCROLLBAR */
/* Let's get this party started */
.body::-webkit-scrollbar {
  width: 8px;
  border: 1px solid transparent
}


/* Handle */
.body::-webkit-scrollbar {
  width: 4px;
  border: 1px solid transparent;
}

.body::-webkit-scrollbar-thumb {
  background: #FFFF;
  border: 1px solid transparent;
  border-radius:30px;
}

.completed {
  background: #848484 !important;
}

.patientIcons {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top:50px;
  padding-bottom:50px;
}

.patientIconScroll {
  display:flex;
  position: absolute;
  background: #98999a !important;
  z-index:999;
  padding-bottom: 15px;
  justify-content: center;
  box-shadow: 0px 8px 10px -11px black;
  flex-wrap: wrap;
}


.patientPhoto {
  display: flex;
  justify-content: center;
  padding: 0px;
  text-align: center;
}

.error {
  padding: 25px;
}


.frameClose {
  font-size: 35px;
    position: relative;
    left: 28px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}


.iframe {
  width: 100%;
  height: 1200px;
  border: none;
  display: none;
  border-radius: 6px;
}

.frameClose {
  font-size: 35px;
    position: relative;
    left: 28px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

