@import 'containers/App/styleconstants.css';

.RequestConsultationForm {
  margin-top: 12px;
}

.btn, .btn:hover {
    color: #ef8b5d;
    background: #FFF;
    border: transparent;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 12px;
    border-radius: 4px;
    margin: 0px;
    margin-right: 13px;
    margin-bottom: 12px;
    min-width: 223px;
}

.submitbtn {
  width: 100%;
  height: 42px;
  /* margin-left: 25px; */
  margin-right: 25px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
  margin-top:25px;
}

.title {
  font-weight: 600;
  color: #ea6225;
}

.rowStandard {
  margin-bottom: 2em;
  padding-left:25px;
  padding-right:25px;
}

.rowStandardPayment {
  margin-bottom: 2em;
  padding-left:25px;
  padding-right:25px;
  text-align: center;
}

.img {
  cursor: pointer;
  margin-right: 2em;
}

.nextbtn{
  display: flex;
  justify-content: center;
  background-color: #ea6225;
  border-radius: 20px;
  color: #fff;
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.footer {
    color: #e65454;
    text-align: center !important;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

.footer:hover {
    background: #80808038;
}

.address {
  text-align:right;
}

.noHoverColor {
  background: #b9b9b9 !important;
  border-color:#b9b9b9 !important;
  color: #000 !important;
}
.noHoverColor:hover {
  background: #b9b9b9 !important;
  color: #000  !important;
}

.icon {
  color: #e65454;
  font-size: 42px;
}

.hideModal {
  opacity: 0 !important;
}

.addButtonStyle{
  margin-top: 0em;
  text-align: right;
}

.catalogButtonStyle{
  margin-top: 6.5em;
  text-align: center;
}

.cancelButtonStyle{
  margin-top: 4.5em;
  text-align: center;
}

.buttonStandard {
  margin-right: 1.5em;
}

.cancelBtn, .cancelBtn:hover  {
  background: #98999a;
  color: #fff;
  font-size: 11px !important;
  font-weight: bold !important;
  margin-left: 12px;
  border: none;
}

.editForm {
  position: relative;
  z-index: 99999999999;
}

.emptyDiv{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  color: #fff;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}