.actionButtons { /* stylelint-disable */
    margin-top: 1.5em;
    text-align: center;
}

.saveButton {
    background: #757575;
    border-color: var(--mediumLightGray);
    width: 120px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
}

.saveButton:hover {
    background: #757575;  
    border-color: var(--mediumLightGray);  
}
