@import 'containers/App/styleconstants.css';

.RequestConsultationForm {
  margin-top: 12px;
}

.btn, .btn:hover {
    color: #ef8b5d;
    background: #FFF;
    border: transparent;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 12px;
    border-radius: 4px;
    margin: 0px;
    margin-right: 13px;
    margin-bottom: 12px;
    min-width: 223px;
}

.submitbtn {
  width: 100%;
  height: 42px;
  /* margin-left: 25px; */
  margin-right: 25px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
  margin-top:25px;
}

.title {
    font-weight: 600;
}

.rowStandard {
  margin-bottom: 2em;
  padding-left:25px;
  padding-right:25px;
}

.img {
  cursor: pointer;
  margin-right: 2em;
}