.info {
  margin-top: 1em;
}

h3 {
  color: inherit;
  margin-bottom: 25px;
}

h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.space {
  padding-top: 2em;
}

.spaceItems {
  padding-top: 1em;
}

.headTitle {
  margin-bottom: 1.2em;
}

.line {
  margin-top: 0;
}

.info p {
  margin: 0;
}

.headerData {
  margin-bottom: 2em;
}

.headerData > span {
  margin-right: 2em;
}

.right {
  text-align: right;
}

.title,
.subtitle {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.icon {
  color: #85ABAA;
  font-size: 1.25em;
}

.hrRule {
  color: #85ABAA;
}

.noDataLabel {
  opacity: 0.75;
  color: #85ABAA;
}

.headerActions {
  display: flex;
  justify-content: space-between;
}