@import '../../containers/App/styleconstants.css';


.DentistCatalogPage {
}

.vendorDone , .vendorDone:hover{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  cursor: pointer;
  padding-top: 15px;
  padding-right: 15px;
}

.imgText {
  display:flex;
  flex-direction: column;
  color:white;
  text-align: center;
  font-size: 12px;
}

.imgTextBlack {
  display:flex;
  flex-direction: column;
  color:#818284;
  text-align: center;
  font-size: 12px;
}

.hr {
  width: 100%;
  margin-right: 14px;
  float:left;
}

.analyticsStyle {
  color: #FFF;
  padding-left: 25px;
  margin-left: 25px;
  padding-right: 25px;
  margin-right: 25px;
}

.analyticsInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.analyticsInfo div {
  display: flex;
  flex-direction: column;
}

.analyticsInfo div span {
  color: #ced0d2 !important;
}

.searchBox {
  margin-top: 20px;
  margin-bottom: 20px;
}

.searchText {
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding:0px;
  margin-bottom: 20px;
}

.searchIcon {
  background-color: #f2f2f3;
  padding: 10px 6px !important;
  line-height: 2em;
  text-indent: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #b5b5b8;
  padding:0px;
}

.searchInput {
  padding: 10px 4px 10px 0px;
  background: #f2f2f3;
  border: none !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  text-indent: 0px !important;
  margin-top: 0px !important;
}

.icons {
  display:flex;
  justify-content:space-evenly;
  flex-direction:row;
  padding:0px;
}

.icons img {
  height:40px;
	width:32px;
  vertical-align:center;
  cursor: pointer;
}

.cartCount {
  position: absolute;
  top: -4px;
  /* left: 314px; */
  background: #ea6225;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
  color: white;
  margin-left: -10px;
}

.vendorOldBox {
  padding: 20px;
  background: var(--sidebarColor);
  border: 1px solid #ffffff;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.vendorOutsideBox {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  background: var(--sidebarColor);
  border: 1px solid #ffffff;
  height: 200px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: 0px;
}

.vendorBox {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  background: #ffffff;
  border: 1px solid #ffffff;
  height: 180px;
  margin: 10px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.vendorSecondBox {
  background: var(--sidebarColor);
  border: 1px solid #ffffff;
  height: 75px;
  margin-top: 0px !important;
  margin-bottom: 20px !important;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.vendorImageHelper {
  display: inline-block;
  height: 100%;
  object-fit: contain;
  vertical-align: middle;
}

.vendorBox img {
  margin: 0 auto;
}


.navHeader {
  background: #6d6e6f;
  min-height: 50px;
  /* background-color: grey; */
  color: white !important;
  /* font-size: 1.5em; */
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.navHeader div  {
  cursor: pointer;
}


.pagination {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #7B7B7C;
}


.pagination input,.pagination select {
  width: 60px;
  height: 35px;
  margin-left: 10px;
  border-radius: 4px;
  margin-top: 0px;
}


.filtersWrapper {
  overflow: auto;
}

.boldTextSelect{
  padding: 5px 10px;
  font-weight:bold;
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

.boldText{
  font-weight:bold;
  padding: 5px 10px;
  color: #000;
  cursor: pointer;
}


.showPages {
  margin: 0 0 25px;
}

.returnTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #ea6225;;
}

.returnTop:hover span {
  color: #fff;
  top: -8px;
}

.returnTop span {
  margin: 0;
  position: relative;
  left: 17px;
  top: 0px;
  font-size: 28px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.groupTitle {
  color: #FFF;
  padding: 6px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
  text-transform: capitalize;
  font-size: 24px;
}
.boxCatalog {
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
}

.filtersWrapper::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.filtersWrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 5px;
}

/* Handle */
.filtersWrapper::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

.scrollBar::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.scrollBar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 5px;
}

/* Handle */
.scrollBar::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}