@import '../../../../containers/App/styleconstants.css';

.filtersWrapper {
  overflow: hidden;
}

.filters {
  font-size: 0.9em;
  overflow: auto;
  max-height: 80vh;
  padding: 12px;
  background: #fff;
}

.rangeSlider {
  width: 90%;
  margin: 0 auto;
}

.productBox {
  min-width: 765px;
  overflow: auto;
  overflow-x: hidden;
  max-height: 75vh; 
  padding: 24px 12px;
  background: #fff;
}

.textbox {
  background: #f2f2f3;
  border: none !important;
  
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-indent: 0px !important;
}

.productImageView {
  background-image: url(http://s3.amazonaws.com/uploads.novadonticsllc.com/img/placeholder.jpg);
  background-size: cover;
  height: 70px;
  width: 70px;
  cursor: pointer;
}
.productWithoutImageView {
  
  
  cursor: pointer;
}
.productButton {
  text-align: left;
  color: #000;
  display: block;
  margin-bottom: 3px;
  cursor: pointer;
}

.filterBox {
  max-height: 300px;
  overflow: auto;
}

.filters button {
  z-index: 9999;
}
.cartButton,
.addToCart {
  color: var(--buttonColor);
  transition: 0.2s all;
  font-weight: 700;
}
.cartnewbtn{
  padding: 8px 12px;
  border: 2px solid #ea6225;
  border-radius: 40px;
  transition: 0.2s all;
  color: #ea6225;
  cursor: pointer;
  width: 108px;
  text-align: center;
  -webkit-transition:0.2s all;
  -ms-transition:0.2s all;

}
.removeButton {
  opacity: 0.7;
  font-weight: 500;
  transition: 0.2s all;
  color: #ea6225;
}

.removeButton:hover,
.cartButton:hover,
.addToCart:hover {
  color: var(--buttonHoverColor);
}

.cartButton {
  margin-top: 30px;
}

.rightAlign {
  text-align: right;
}

.overnightContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.overnightLabel {
  white-space: nowrap;
  margin-right: 1em;
}
.noHoverColor {
  background: #b9b9b9 !important;
  border-color:#b9b9b9 !important;
  color: #000 !important;
}
.noHoverColor:hover {
  background: #b9b9b9 !important;
  color: #000  !important;
}

.catalogHeader{
	min-height: 50px;
	background-color:grey;
	color: white !important;
	font-size: 1.5em;
  font-weight:bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cataloglink{
  line-height: 10px !important;
}
.cataloglinkspan{
  font-size: 0.6em;
  color: white !important;
  cursor: pointer;
}
.rightcontent
{
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.leftcontent{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.smallLink{
	color: white !important;
	font-size: 0.6em;
}

.boldText{
  font-weight:bold;
  padding: 5px 10px;
  color: #000;
  cursor: pointer;
}
.boldTextSelect{
  padding: 5px 10px;
  font-weight:bold;
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}


.filterImage{
	height:40px;
	width:32px;
  vertical-align:center;
  cursor: pointer;
}
.textboxicon
{
  background-color: #f2f2f3;
  padding: 10px 6px !important; 
  margin-top: 0.5em;
  line-height: 2em;
  text-indent: 0px;
  border-top-left-radius: 5px;  
  border-bottom-left-radius: 5px;
  color: #b5b5b8;
}
.textfieldcontainer
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagecontainer
{
  padding-right: 0px !important;
  display: flex;
  justify-content: center;
 
}
.productoption{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cartaddsub
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:135px;
}
.cartsub{
  background-color: #ea6225;
  padding: 7px 15px !important;
  margin-top: 0.5em;
  line-height: 2em;
  text-indent: 0px;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
  color: #fff;  
  font-size: 18px;
  cursor: pointer;
}
.cartadd{
  background-color: #ea6225;
  padding: 7px 15px !important;
  margin-top: 0.5em;
  line-height: 2em;
  text-indent: 0px;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  color: #fff;  
  font-size: 18px;
  cursor: pointer;
}
.cartinput{
  text-align: center;
  margin: 0px;
  border: 1px solid var(--textBoxOutlineColor);
  color: black;
  line-height: 2.3em;
  width: 51px;
}
.productcellcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.modelclear
{
  margin-top: 20px;
  color: #ea6225;
  cursor: pointer;
}
.modelstyle
{
  padding: 0.5em !important;
  border-radius: 10px !important;
}
.modelprice
{
  margin-bottom: 15px;
  margin-top: -15px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.modelpricecontainer{
  border-bottom: 1px solid #b9b9b9;
  padding-bottom: 25px;
  border-top: 1px solid #b9b9b9;
  padding-top: 25px;
  margin-top: -35px;
}
.modelvendorcontainer{
  padding: 8px 30px;
  color: #000;
}
.modelvendorlist{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modlesubtitle{
  margin-top: 15px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 30px;
  margin-top: 0px !important;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkswitch:checked + .slider {
  background-color: #ea6225;
}

/* .checkswitch:focus + .slider {
  box-shadow: 0 0 1px #ea6225;
} */
.checkswitch:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.modelpricesubcontainer{
  padding: 0px 17px;
  color: #817d7d;
  font-size: 13px;
}
.modelpriceslider{
  color: #000;
}
.iframe{
  min-height: 480px;
  border: none;
  -webkit-border:none;
  -ms-border:none;
  
}

.nextbtn{
  display: flex;
  justify-content: center;
  background-color: #ea6225;
  border-radius: 20px;
  color: #fff;
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
}
.vendorBox {
  padding: 20px;
  background: var(--sidebarColor);
  border: 1px solid #ffffff;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.vendorImageHelper {
  display: inline-block;
  height: 100%;
  object-fit: contain;
  vertical-align: middle;
}

.vendorBox img {
  margin: 0 auto;
}
.vendordone{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  cursor: pointer;
  padding-top: 15px;
  padding-right: 15px;
}

.address {
  text-align:right;
}

.cartOn{
  position: absolute;
  top: -4px;
  /* left: 314px; */
  background: #ea6225;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
  color: white;
  margin-left: -10px;
}

.addButtonStyle{
  margin-top: 0em;
  text-align: right;
}

.buttonStandard {
  margin-right: 1.5em;
}