
.share {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.email,.print,.icon {
    cursor: pointer;
    color: #ef8b5d !important;
    font-size: 24px;
}
.print{
    margin-left:12px;
    margin-right:12px;
}

.shareIcon {
    position: relative;
    display: none;
    top: -5px;
}

.iframe {
    height: 0px; 
    width: 0px; 
    position: absolute;
    display: none;
}