.boxAnalytic { /* stylelint-disable */
  font-size: 14px;
}

.path {
  color: inherit;
}

.records {
  margin: 0.5em 0;
}

.accountRecords {
  margin: 0.5em 0;
}

@media (min-width: 1152px) {

  .tableAnalytic:nth-child(odd) {
    padding-right: 7.5px;
    padding-left: 15px;
  }

  .tableAnalytic:nth-child(even) {
    padding-left: 7.5px;
    padding-right: 15px;
  }

  .boxAnalytic { /* 6.5 release */
  	width: 20%;
  	padding-right: 15px;
    padding-left: 10px;
    font-size: 13px;
  }
  
  .chartAnalytic:first-child {/* 6.5 release */
    padding-right: 7.5px;
    padding-left: 15px;
  }
  
  .chartAnalytic:last-child {/* 6.5 release */
    padding-left: 7.5px;
    padding-right: 15px;
  }
  
 

  .chartAnalytic:nth-child(even) {/* 6.5 release */
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  
   .chartAnalytic:nth-child(even) .chartPanel{/* 6.5 release */
  	    padding-left: 3px;
    	padding-right: 3px;
  }
  
  .title {	/* 6.5 release */
	  min-height: 55px;
	  font-size: 16px;
	  text-align:center;
	  font-weight:bold;
  }

  .accountsTitle {	/* 6.5 release */
	  font-size: 16px;
	  text-align:center;
	  font-weight:bold;
  }
  
  .paddzero { /* 6.5 release */
  	padding-left:0px;
  	padding-right:0px;
  }
  
  .row { /* 6.5 release */
 	padding: 0px;
  	margin:0px;
  }
  
  .records { /* 6.5 release */
  	padding: 0px;
  }

  .accountRecords { /* 6.5 release */
  	padding: 0px;
  	text-align: center;
  }

  .accountRowRecords { /* 6.5 release */
  	padding-left:15px;
  	padding-right:15px;
  }

  .rowRecords { /* 6.5 release */
  	padding-left:15px;
  	padding-right:15px;
  }
  
  .rowRecords .records:nth-child(even) { /* 6.5 release */
   	text-align: right;
  }
}

.pieTitle {
  text-align: center;
  height: 2em;
  margin: 0.5em;
  color:#EA6225;
}

.bgIcon {
  position: absolute;
  right: -30px;
  bottom: -30px;
  font-size: 14em;
  line-height: 0;
  opacity: .06;
}

.pieSection + .pieSection {
    margin-right: 1em;
}

.view {
  margin-bottom: 80px;
}