

.body {
    display: inline-block;
    width: 100%;
}

.body h4 {
    font-weight: bold;
}

.btn ,.btn:hover {
    color: #ea6225 !important;
    font-size: 10px !important;
    font-weight: bold !important;
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
  }

.inline {
    margin-bottom: 30px;
    padding: 0px;
}

.title {
    font-size: 16px;
    background: #c8c9cb;
    padding: 3px 12px 3px 12px;
}

.fields {
    padding-left: 25px;
}

.header {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* margin: 0px; */
    position: relative;
    top: -9px;
    width: 95%;
}

.history {
    color: #ea6225;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-right: 30px;
    margin-top: 2px;
}
.Signature {
     border-bottom: 1px solid #c8c8c8 !important;
 }

.dentistBox {
  padding: 10px;
  border: 1px solid #000000;
  height: 20%;
  margin: 20px;
  margin-top: 0px;
  border-radius: 0px;
  cursor: pointer;
}

.patientBox {
  padding: 10px;
  border: 1px solid #000000;
  height: 40%;
  margin: 20px;
  margin-top: 10px;
  border-radius: 0px;
  cursor: pointer;
}

.medication {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: -36px;
}

.medication span {
    font-weight: normal;
}

.inlineForm {
    display: flex;
    flex-direction: column;
}