.gallery { /* stylelint-disable */
  margin: 0.5em 0;
}

.implantGallery { /* stylelint-disable */
  margin: 0.5em 0;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.button {
  padding: 0.1em;
}
.sliderView {
  display: inline-flex;
  justify-content: center;
  padding: 10px;
}