.InputField { /* stylelint-disable */
    display: inline-flex;
    /* align-items: center; */
    -ms-flex-pack: center;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.InputField label {
    margin-right: 12px;
    color: #FFF;
    font-size: 16px;
    margin: 11px;
}

.InputField input {
    width: 200px;
    background: #FFF;
    border-radius: 8px;
    border: none;
    height: 38px;
}
.infoField
{
    display:flex;
    justify-content: flex-start;
    margin-right: 15px;  
}

.infoField label {
    width:180px;
    margin-right: 12px;
    font-size: 16px;
    margin: 11px;
}

.infoField input {
    width: 100%;
    height: 38px;
    color:black;
};
