@import 'containers/App/styleconstants.css';

.header {
  text-align: center;
  background: #818284 !important;
  min-height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.header1A {
  text-align: center;
  background: #98999a !important;
  min-height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.rowItem{
  margin-top: 15px;
}
.noteWidth {
  width: 14%;
  padding-left: 25px !important;
  padding-right: 0px !important;
}

.subtitle {
  color: #FFF !important;
  display: inline-block;
  margin-top: 0em;
  margin-bottom: 0em;
}

.btn,.btn:hover  {
  background: none;
  border: none;	
  padding:0px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 13px;
}

.saveButton, .saveButton:hover {
    background: none;
    border: none;
    padding: 0px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 13px;
}

.schemaBody {
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 0px;
  -webkit-overflow-scrolling: touch;
  background-color: #FFF;
  color: #000000;
}


/* SCROLLBAR */
/* Let's get this party started */
.schemaBody::-webkit-scrollbar {
  width: 4px;
  border: 1px solid transparent;
}


/* Handle */
.schemaBody::-webkit-scrollbar-thumb {
  background: #98999a;
  border: 1px solid transparent;
  border-radius:30px;
}

.schemaRoundBorder {
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 0px;
  -webkit-overflow-scrolling: touch;
  background-color: #FFF;
  color: #000000;
}


/* SCROLLBAR */
/* Let's get this party started */
.schemaRoundBorder::-webkit-scrollbar {
  width: 4px;
  border: 1px solid transparent;
}


/* Handle */
.schemaRoundBorder::-webkit-scrollbar-thumb {
  background: #98999a;
  border: 1px solid transparent;
  border-radius:30px;
}

.dispnone {
  display: none;
}

.footer > div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    background: white;
    border: 2px solid transparent;
    border-radius: 100px;
    cursor: pointer;  
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
    float: left;
}

.grayFooter > div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    background: gray;
    border: 2px solid transparent;
    border-radius: 100px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
    float: left;
}

.activeSlider {
  border: 1px solid #EE6100 !important;
  animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
  background: #EE6100 !important;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  margin-top: -10px;
}

.grayFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  margin-top: -10px;
}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}

.noteTitle {
  padding: 25px !important;
  padding-bottom: 0px !important;
  font-weight:bold;
}

.hideTitle {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 0px !important;
  display: -webkit-inline-box;
  height:5px;
}

.groupTitle {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 0px !important;
  display: -webkit-inline-box;
  height:50px;
}

.groupTitle , h4 {
  /*margin-top: 20px !important;*/
   font-weight:bold;	
}

.inlineTitle {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 0px !important;
  display: -webkit-inline-box;
  height: 50px;
  width: 550px;
  padding-top: 3em !important;
}

.columnItems, .columnItem, .rowItem {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 4px !important;
}

.flexItems {
    display: flex !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 4px !important;
}

.withoutTitle {
  height: 51.5px;
}

.inapp, .inapp:hover {
  color: white;
}

.cancelBtn, .cancelBtn:hover  {
  background: #98999a;
  color: #fff;
  font-size: 11px !important;
  font-weight: bold !important;
  margin-left: 12px;
  border: none;
}

.modalBtn {
  margin-bottom: 20px;;
}

.plusIcon {
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}