
.header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.filter {
    background: #FFF;
    min-height: 250px;
    width: 230px;
    z-index: 999999;
    border-radius: 4px;
    box-shadow: 0px 0px 19px -4px #8383838f;
    display: none;
    background: var(--mediumDarkGrey);
    color: #fff;
}

.filter h4 {
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    text-transform: capitalize;
    color: white;
    margin-top: 6px;
}

.filterBtn {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px -2px 3px -1px grey;
}

.filterBtn button, .filterBtn button:hover {
    -webkit-appearance: none;
    border-color: #A9A9AA;
    margin: 0px;
    background: #505050;
    color: white;
    font-size: 11px;
    cursor:pointer;
}


.Checkbox{
    padding: 0px !important;
    display: flex;
    justify-content: space-around;
    margin: 0px 25px 0px 25px;
}

.checkboxContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    height: 36px;
    margin-left: 25px;
}

.checkboxContainer > input {
    white-space: nowrap;
    width: auto;
    margin: 0 0.5em 0 0;
    font-size: 115%;
}


.checkboxContainer >

h1{
    font-weight: 400;
    font-size: 2em;
    cursor: default;
    margin: 0 0 .5em 0;
}

.checkboxContainer > input[type='checkbox']{ height: 0; width: 0; border: 0px; display: none;}

.checkboxContainer > input[type='checkbox'] + label{
    position: relative;
    display: flex;
    margin: .6em 0;
    align-items: center;
    transition: color 250ms cubic-bezier(.4,.0,.23,1);
}
.checkboxContainer > input[type='checkbox'] + label > ins{
    position: absolute;
    display: block;
    bottom: 0;
    left: 2em;
    height: 0;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    transition: height 300ms cubic-bezier(.4,.0,.23,1);
}
.checkboxContainer > input[type='checkbox'] + label > ins > i{
    position: absolute;
    bottom: 0;
    font-style: normal;
}

.checkboxContainer > .titleHead:first-child  {
    font-weight: bold;
}
.checkboxContainer > input[type='checkbox'] + label > span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 1.6em;
    height: 1.6em;
    background: #9c9c9c;
    border: 2px solid #FFF;
    border-radius: 100px;
    cursor: pointer;  
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
}

.checkboxContainer > input[type='checkbox'] + label:hover > span, .checkboxContainer > input[type='checkbox']:focus + label > span{
    background: #9c9c9c;
}
.checkboxContainer > input[type='checkbox']:checked + label > ins{ height: 100%; }

.checkboxContainer > input[type='checkbox']:checked + label > span{
    border: 2px solid #FFF;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
    background: #757575;
}
.checkboxContainer > input[type='checkbox']:checked + label > span:before{
    content: "";
    position: absolute;
    top: .5em;
    left: .3em;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(1,.23,.0,.4) forwards;
}

@keyframes shrink-bounce{
0%{
    transform: scale(1);
}
33%{    
    transform: scale(.85);
}
100%{
    transform: scale(1);    
}
}
@keyframes checkbox-check{
    0%{
      width: 0;
      height: 0;
      border-color: #ffff;
      transform: translate3d(0,0,0) rotate(45deg);
    }
    33%{
      width: .4em;
      height: 0;
      transform: translate3d(0,0,0) rotate(45deg);
    }
    100%{    
      width: .4em;
      height: 0.8em;    
      border-color: #ffff;
      transform: translate3d(.1em,-.4em,0) rotate(45deg);
    }
  }


.disabled > input[type='checkbox'] + label > span {
    border: 2px solid #7F7F7F !important;
}

.disabled > input[type='checkbox']:checked + label > span{
    border: 1px solid #7F7F7F !important;
    background: #7F7F7F !important;
}

.titleHead {
    width: 100%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 13px;
}

.providerList {
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    color: var(--navbarColor);
}

.providerList::-webkit-scrollbar {
    width: 4px;
    border: 1px solid transparent;
  }

.providerList::-webkit-scrollbar-thumb {
background: #98999a;
border: 1px solid transparent;
border-radius:30px;
}

.hr {
    margin: 0px !important;
    border-top:1px solid #b3b3b37d
}

.clear {
    margin-top: 8px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    text-transform: capitalize;
    cursor: pointer;
}

.fontBold {
    font-weight: bold;
}