
.productBox {
  max-width: 765px;
  overflow: auto;
  overflow-x: hidden;
  padding: 24px 12px;
  background: #fff;
}

.productcellcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagecontainer
{
  padding-right: 0px !important;
  display: flex;
  justify-content: center;
  
}

.productWithoutImageView {   
  cursor: pointer;
}

.productImageView {
  background-image: url(http://s3.amazonaws.com/uploads.novadonticsllc.com/img/placeholder.jpg);
  background-size: cover;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.productButton {
  text-align: left;
  color: #000;
  display: block;
  margin-bottom: 3px;
  cursor: pointer;
}

.productoption{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cartadd{
  background-color: #ea6225;
  padding: 7px 15px !important;
  margin-top: 0.5em;
  line-height: 2em;
  text-indent: 0px;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  color: #fff;  
  font-size: 18px;
  cursor: pointer;
}

.cartaddsub
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:135px;
}

.cartsub{
  background-color: #ea6225;
  padding: 7px 15px !important;
  margin-top: 0.5em;
  line-height: 2em;
  text-indent: 0px;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
  color: #fff;  
  font-size: 18px;
  cursor: pointer;
}

.cartinput{
  text-align: center;
  margin: 0px;
  border: 1px solid var(--textBoxOutlineColor);
  color: black;
  line-height: 2.3em;
  width: 51px;
}

.cartnewbtn{
  padding: 8px 12px;
  border: 2px solid #ea6225;
  border-radius: 40px;
  transition: 0.2s all;
  color: white;
  background-color: #ea6225;
  cursor: pointer;
  width: 108px;
  text-align: center;
  -webkit-transition:0.2s all;
  -ms-transition:0.2s all;
}

.financeBtn{
  padding: 8px 12px;
  margin-top: 10px;
  border: 2px solid #38a0f1;
  border-radius: 40px;
  transition: 0.2s all;
  color: white;
  background-color: #38a0f1;
  cursor: pointer;
  width: 135px;
  text-align: center;
  -webkit-transition: 0.2s all;
}

.subscribeButton{
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 2px solid #ea6225;
  border-radius: 40px;
  transition: 0.2s all;
  color: #ea6225;
  cursor: pointer;
  width: 108px;
  text-align: center;
  -webkit-transition:0.2s all;
  -ms-transition:0.2s all;
}

.cartmovebtn{
  padding: 8px 8px;
  border: 2px solid #ea6225;
  border-radius: 40px;
  transition: 0.2s all;
  color: #ea6225;
  cursor: pointer;
  width: 108px;
  text-align: center;
  -webkit-transition:0.2s all;
  -ms-transition:0.2s all;
}

.filterImage{
  height:40px;
  width:32px;
  vertical-align:center;
  cursor: pointer;
}

.removeButton {
  font-size: 12px;
  font-weight: bold;
  transition: 0.2s all;
  color: #ea6225;
  padding: 0px !important;
}

.removeButton:hover {
  color: var(--buttonHoverColor);
}
