@import '../../containers/App/styleconstants.css';

.notFoundPage {
  height: 100%;
  background: var(--mediumDarkGrey);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='var(--sidebarSecondaryColor)', endColorstr='var(--sidebarColor)', GradientType=0);
  margin-top: 0 !important;
  color: white;
  padding-top: 10%;
}

.notFound {
  font-size: 10em;
  color: white;
  font-weight: bold;
}

.message {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
