  


  .TreatmentPlan {
    background: #fff;
    padding: 25px;
    color: #000;
  }

  .header {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* margin: 0px; */
    position: relative;
    /*top: -9px;
    width: 95%;*/
    align-items: center;
  }

  .btn ,.btn:hover {
    color: #ea6225 !important;
    font-size: 10px !important;
    font-weight: bold !important;
    padding: 2px 12px 0px 0px !important;
  }

  .icon {
    font-size:12px !important;
    margin-right: 4px; 
  }

  .form {
    display: flex;
  }

  .form input {
    height: 35px;
    width: 200px;
    font-size: 14px;
  }

  .actionButtons {
    margin-top: 8px;
    margin-left: 10px;
  }

  .actions {
    display: flex;
  }


  .closeIcon {
    color: #000000;
    font-size: 28px;
    margin-left: 42px;
    cursor: pointer;
    margin-top: -10px;
}

.headerModal {
  display: flex;
}