.ToothChart {
  background-color: #fff;
  color: #000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.marginStyle {
  margin: 25px;
  padding-top: 25px;
  margin-bottom: 0px;
}

.titleStyle {
  color: #ea6225;
  font-size: 18px;
  font-weight: 700;
}

.infoStyle {
  width: 50px;
  height: 50px;
  margin-top: 2px;
  cursor: pointer;
}

.codeStyle {
  background: white;
  width: 20%;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.missingButton {
  background: white;
  width: 25%;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.missingColumn {
  display: grid;
  margin-top: 4em;
}

.codeStyle:hover {
  background-color: #e8e8e8;
}

.missingButton:hover {
  background-color: #e8e8e8;
}

.listStyle {
  background: white;
  height: 40px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #E6E6E6;
}

.listStyle:hover {
  background-color: #e8e8e8;
}

.activeCode {
  background-color: #e8e8e8;
}

.toothTop {
  margin-left: 25px;
  margin-right: 25px;
}

.toothRow {
  display: flex;
  overflow-x: scroll;
  margin-left: 0px;
}

.toothColumn {
  display: flex !important;
  align-items: center !important;
}

.tabColumn {
  width: 100%;
  margin-left: 1em;
}

.tabBackground {
  background: white;
}

.formWidth {
  padding-right: 10px !important;
  width: 33% !important;
}

.categoryWidth {
  width: 27% !important;
}

.codeWidth {
  padding-left: 10px !important;
  width: 40% !important;
}

.titleText {
  font-weight: bold;
  text-align: center;
  color: #ea6225 !important;
}

.cdtColumn {
  padding-left: 5px;
  padding-right: 7px;
  height: 485px;
  overflow-y: scroll
}

.cdtColumn::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.cdtColumn::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.cdtColumn::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.cdtColumn::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.img {
    cursor: pointer;
}

.alignCenter {
    display: flex;
    justify-content: center;
}

.provider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.provider1 {
    display: flex;
    flex-wrap: wrap;
}

.provider2 {
}

.numberSystem {
    display: flex;
    flex-direction: row;
}

.numberSystem span {
    margin-right: 2em;
    width: 22px;
    text-align: center;
}

.tooth div {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items:center;
}

.tooth div:first-child {
    margin-right:0px !important;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-top: 0px !important;
}

.DatePicker {
  font-weight: 100;
  margin-left: 12px;
  margin-top: 4px;
  height: 26px;
  font-size: 12px;
  border: 1px solid rgba(128, 128, 128, 0.47843);
  line-height: 2em;
  text-indent: 5px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
.Select
{
  width: 50%;
  font-weight: 100;
  margin-left: 12px;
  margin-top: 4px;
  height: 26px;
  font-size: 12px;
  border: 1px solid rgba(128, 128, 128, 0.47843);
  line-height: 2em;
  text-indent: 5px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
.TableData {
    text-align: center;
    margin-top: 12px;
}

.Table th {
    border-top: 0;
    text-align: center;
    border: 1px solid #8080807a !important;
    font-weight: bold !important;
    background: #38a0f1;
    color: #fff !important;
    font-size: 13px !important;
}

.Table td {
    border: 1px solid #8080807a;
    padding: 2px;
    width:55px;
    font-weight: 200;
    height: 100px;
    font-size: 12px;
}


.legend {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.legend span {
    padding: 4px;
    margin: 4px;
}

.closeIcon {
    color: #000000;
    font-size: 28px;
    margin-left: 42px;
    cursor: pointer;
}

.header {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* margin: 0px; */
    position: relative;
    /*top: -9px;
    width: 95%;*/
    align-items: center;
  }


  
.ModalForm {
    margin-right: 0.5em;
    margin-left: 1em !important;
    width: 38px !important;
  }

  .toothBorder {
    margin-right: 0.5em;
    margin-left: 1em !important;
    width: 38px !important;
    border: 1px solid #38a0f1;
  }

  .title {
    margin-top: 0px !important;
  }
  
  .link {
    cursor: pointer;
  }
  
  .rowStandard {
    margin-bottom: 2em;
  }
  
  
  .icon {
    margin-right:6px;
  }
  
  .img {
    cursor: pointer;
  }
  
  
  .tooltip {
    visibility: hidden;
    width: auto;
    background-color: #e4e4e4;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
  }
  
  .ModalForm:hover .tooltip {
    visibility: visible;
  }

.MultiCheckboxField label{
    position: relative;
    display: flex;
    margin: .7em 0;
    align-items: center;
    width: 50%;
    float: left;
    font-weight: 400;
}

.MultiCheckboxField input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em !important;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;  
}

.MultiCheckboxFieldSingle
{
    display: flex;
    flex-direction: column;
}

.MultiCheckboxFieldSingle label{
    position: relative;
    display: flex;
    margin: .7em 0;
    align-items: center;
    width: 50%;
    float: left;
    font-weight: 400;
}

.MultiCheckboxFieldSingle input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em !important;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}

.renderField > div:not(:first-child):before {
    content: "";
    display: block;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 14px;
    text-align: center;
    border-width: thin;
    align-items: center;
}

.renderField label {
    padding-left: 25px;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px !important;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50%;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 2px solid #38a0f1;
  }
  
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
       left: 7px;
      top: 1px;
      width: 7px;
      height: 14px;
      border: solid #38a0f1;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .section {
      display: flex;
      justify-content: end;
      flex-wrap: wrap;
      border-bottom: 2px solid #e6e6e6;
      padding-top: 25px;
      padding-bottom: 25px;
  }

  .childField {
    background: #F7F7F7;
    padding: 12px;
    border: 2px solid #d4d3d3;
    border-radius: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 25px;
  }

  .SelectField {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .SelectField label {
    padding: 0px;
    margin: 0px;
    width: 50%;
  }

  .SelectField select {
    width: 50%;
    border-radius: 6px;
    background: white;
  }

  /* Inlinecheckbox Start */
  .implantImaging{
    color: #38a0f1;
  }
  .InlineCheckboxcontainer {
      display: block;
      position: relative;
      padding-left: 35px !important;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 16px;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 30%;
      color: black;
  }
  .InlineCheckboxcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .InlineCheckboxcontainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .InlineCheckboxcontainer .checkmark:after {
       left: 7px;
      top: 1px;
      width: 7px;
      height: 14px;
      border: solid #38a0f1;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  }    

  .inlineChildField{
    background: #F7F7F7;
    padding: 12px;
    border: 2px solid #d4d3d3;
    border-radius: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 25px;
    font-size: 15px !important;
  }
  .inlineExistingField{
    display: block;
    position: relative;
    padding-left: 35px !important;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50%;
  }
  /* InlineCheckbox End */
