.filterImage{
  height:40px;
  width:32px;
vertical-align:center;
cursor: pointer;
}

.productoption{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cartaddsub
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:135px;
}

.financeBtn{
  max-height: 250;
  padding: 8px 12px;
  margin-top: 10px;
  border: 2px solid #38a0f1;
  border-radius: 40px;
  transition: 0.2s all;
  color: white;
  background-color: #38a0f1;
  cursor: pointer;
  width: 135px;
  text-align: center;
  -webkit-transition: 0.2s all;
}

.cartsub{
  background-color: #ea6225;
  padding: 7px 15px !important;
  margin-top: 0.5em;
  line-height: 2em;
  text-indent: 0px;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
  color: #fff;  
  font-size: 18px;
  cursor: pointer;
}

.cartinput{
  text-align: center;
  margin: 0px;
  border: 1px solid var(--textBoxOutlineColor);
  color: black;
  line-height: 2.3em;
  width: 51px;
}

.cartadd{
  background-color: #ea6225;
  padding: 7px 15px !important;
  margin-top: 0.5em;
  line-height: 2em;
  text-indent: 0px;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  color: #fff;  
  font-size: 18px;
  cursor: pointer;
}

.cartnewbtn{
  padding: 8px 12px;
  border: 2px solid #ea6225;
  border-radius: 40px;
  transition: 0.2s all;
  color: #ea6225;
  cursor: pointer;
  width: 108px;
  text-align: center;
  -webkit-transition:0.2s all;
  -ms-transition:0.2s all;
}

.removeButton {
  font-size: 12px;
  font-weight: bold;
  transition: 0.2s all;
  color: #ea6225;
  margin-left: 10px;
}

.removeButton:hover {
  color: var(--buttonHoverColor);
}

.document {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
}

.finance {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.document img {
  cursor: pointer;
  margin-left: 0.8em;
  width: 50px;
  height: 50px;
}