
.content 
{
    color: #042322 !important;
    font-size: 14px;
}
.textContent
{
    color: #042322 !important;
    font-size: 14px;
}
.textContent:hover
{
    color: var(--mediumDarkerGray) !important;
    font-size: 14px;
}

.displayDate 
{
    font-weight: 100;
    font-size: 12px;
}
.checkList
{
  margin: 0px 0px 0px 30px !important;
}
.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -9px;
    width: 90%;
}
.fontColor {
  color: #EA6225;
  display: flex;
}


  .btn ,.btn:hover {
    color: #ea6225 !important;
    font-size: 14px !important;
    padding: 2px 12px 0px 0px !important;
    text-transform: capitalize;
  }


  .btnDelete ,.btnDelete:hover {
    color: #ea6225 !important;
    font-size: 14px !important;
    padding: 0px 12px 0px 0px !important;
    text-transform: capitalize;
  }

  .actions {
    display: flex;
    flex-direction: row;
  }

  .actions span {
      margin-right:3px;
  }
  .sharedInfoIcon{
    margin-top: -8px;
  }
