.CheckboxField{
    padding: 0px !important;
    /*z-index: 999;*/
  }
  
  .checkboxContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5em;
    margin-top: 10px;
    width: 50%;
  }
  
  .checkboxContainer > input {
    white-space: nowrap;
    width: auto;
    margin: 0 0.5em 0 0;
    font-size: 115%;
  }
  
  
  .checkboxContainer >
  
    h1{
      font-weight: 400;
      font-size: 2em;
      cursor: default;
      margin: 0 0 .5em 0;
    }
    
    .checkboxContainer > input[type='checkbox']{ height: 0; width: 0; border: 0px; display: none;}
    
    .checkboxContainer > input[type='checkbox'] + label{
      position: relative;
      display: flex;
      margin: .6em 0;
      align-items: center;
      transition: color 250ms cubic-bezier(.4,.0,.23,1);
    }
    .checkboxContainer > input[type='checkbox'] + label > ins{
      position: absolute;
      display: block;
      bottom: 0;
      left: 2em;
      height: 0;
      width: 100%;
      overflow: hidden;
      text-decoration: none;
      transition: height 300ms cubic-bezier(.4,.0,.23,1);
    }
    .checkboxContainer > input[type='checkbox'] + label > ins > i{
      position: absolute;
      bottom: 0;
      font-style: normal;
    }
    .checkboxContainer > input[type='checkbox'] + label > span{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1em;
      width: 2em;
      height: 2em;
      background: transparent;
      border: 2px solid #EA6225;
      cursor: pointer;  
      transition: all 250ms cubic-bezier(.4,.0,.23,1);
    }
    
    .checkboxContainer > input[type='checkbox'] + label:hover > span, .checkboxContainer > input[type='checkbox']:focus + label > span{
      background: rgba(255,255,255,.1);
    }
    .checkboxContainer > input[type='checkbox']:checked + label > ins{ height: 100%; }
    
    .checkboxContainer > input[type='checkbox']:checked + label > span{
      border: 1px solid #EA6225;
      animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
      background: #EA6225;
    }
    .checkboxContainer > input[type='checkbox']:checked + label > span:before{
      content: "";
      position: absolute;
      top: .6em;
      left: .2em;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
      transform: rotate(45deg);
      transform-origin: 0% 100%;
      animation: checkbox-check 125ms 250ms cubic-bezier(1,.23,.0,.4) forwards;
    }

  .checkboxBlueContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5em;
    margin-top: 10px;
    width: 50%;
  }

  .checkboxBlueContainer > input {
    white-space: nowrap;
    width: auto;
    margin: 0 0.5em 0 0;
    font-size: 115%;
  }


  .checkboxBlueContainer >

    h1{
      font-weight: 400;
      font-size: 2em;
      cursor: default;
      margin: 0 0 .5em 0;
    }

    .checkboxBlueContainer > input[type='checkbox']{ height: 0; width: 0; border: 0px; display: none;}

    .checkboxBlueContainer > input[type='checkbox'] + label{
      position: relative;
      display: flex;
      margin: .6em 0;
      align-items: center;
      transition: color 250ms cubic-bezier(.4,.0,.23,1);
    }
    .checkboxBlueContainer > input[type='checkbox'] + label > ins{
      position: absolute;
      display: block;
      bottom: 0;
      left: 2em;
      height: 0;
      width: 100%;
      overflow: hidden;
      text-decoration: none;
      transition: height 300ms cubic-bezier(.4,.0,.23,1);
    }
    .checkboxBlueContainer > input[type='checkbox'] + label > ins > i{
      position: absolute;
      bottom: 0;
      font-style: normal;
    }
    .checkboxBlueContainer > input[type='checkbox'] + label > span{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1em;
      width: 2em;
      height: 2em;
      background: transparent;
      border: 2px solid #38a0f1;
      cursor: pointer;
      transition: all 250ms cubic-bezier(.4,.0,.23,1);
    }

    .checkboxBlueContainer > input[type='checkbox'] + label:hover > span, .checkboxBlueContainer > input[type='checkbox']:focus + label > span{
      background: rgba(255,255,255,.1);
    }
    .checkboxBlueContainer > input[type='checkbox']:checked + label > ins{ height: 100%; }

    .checkboxBlueContainer > input[type='checkbox']:checked + label > span{
      border: 1px solid #38a0f1;
      animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
      background: #38a0f1;
    }
    .checkboxBlueContainer > input[type='checkbox']:checked + label > span:before{
      content: "";
      position: absolute;
      top: .6em;
      left: .2em;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
      transform: rotate(45deg);
      transform-origin: 0% 100%;
      animation: checkbox-check 125ms 250ms cubic-bezier(1,.23,.0,.4) forwards;
    }

    @keyframes shrink-bounce{
      0%{
        transform: scale(1);
      }
      33%{    
        transform: scale(.85);
      }
      100%{
        transform: scale(1);    
      }
    }
    @keyframes checkbox-check{
      0%{
        width: 0;
        height: 0;
        border-color: #ffff;
        transform: translate3d(0,0,0) rotate(45deg);
      }
      33%{
        width: .6em;
        height: 0;
        transform: translate3d(0,0,0) rotate(45deg);
      }
      100%{    
        width: .6em;
        height: 1em;    
        border-color: #ffff;
        transform: translate3d(.2em,-.6em,0) rotate(45deg);
      }
    }
  
  
    .disabled > input[type='checkbox'] + label > span {
      border: 2px solid #7F7F7F !important;
    }
  
    .disabled > input[type='checkbox']:checked + label > span{
      border: 1px solid #7F7F7F !important;
      background: #7F7F7F !important;
    }
  
  .titleHead {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .img {
    width: 28px;
    cursor: pointer;
  }
  
  .indication {
    display: flex;
    flex-direction: column;
    font-weight: initial;
    margin-left: 60px;
    font-size: 12px;
  }
  
  .indication b {
    text-transform: uppercase;
  }
  
  .prescriptionButton {
    display: none;
  }
  
  .checkboxContainer > input[type='checkbox']:checked~.prescriptionButton{
    display: initial;
  }

  .checkboxBlueContainer > input[type='checkbox']:checked~.prescriptionButton{
    display: initial;
  }

  .fields {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .titleStyle {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    padding-bottom: 25px;
  }

  .plusIcon {
    width: 25px;
    height: 25px;
    margin-top: 3px;
    margin-right: 10px;
    cursor: pointer;
  }