.label {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 2em;
}

.container {
  padding: 1em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #eeeeee;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.warning {
  color: orangered;
}

.error {
  color: red;
}