@import '../../containers/App/styleconstants.css';

.actionButtons {
  margin-top: 1.5em;
}

.catalogButtonStyle{
  margin-top: 4.5em;
  margin-bottom: 2.5em;
  text-align: center;
}

.catalogNotesStyle{
  margin-top: 4.5em;
  text-align: center;
}

.patientFormStyle{
  margin-top: 1em;
  text-align: right;
}

.hrStyle{
  margin-top: 4em;
}

.subscriberButton {
  margin-right: 1.5em;
  padding-left: 5em;
  padding-right: 5em;
}

.buttonStandard {
  margin-right: 1.5em;
}

.submitStandard {
  margin-right: 1.5em;
  margin-left: 10px;
}

.cancelBtn, .cancelBtn:hover  {
  background: #98999a !important;
  border-color: #98999a !important;
  color: #fff !important;
  font-size: 11px !important;
  font-weight: bold !important;
  margin-left: 12px;
  border: none !important;
}
.subrequest
{
  width: 100%;
}
.requestform
{
    width: 90%;
    height: 100px;
    border: 0px solid black;
    margin: 30px 20px 20px 32px !important;
    text-align: justify;
}
.buttonLink {
  padding: 0;
  color: var(--orangePrimary);
}

.buttonLink:hover {
  color: var(--orangeLight) !important;
}