@import '../../containers/App/styleconstants.css';

.drop { /* stylelint-disable */
  border: 2px dashed var(--buttonHoverColor);
  width: 100%;
  text-align: center;
  padding: 2em;
  margin-top: 1em;
  cursor: pointer;
  transition: 0.25s all;
}

.drop:hover {
  border-color: var(--buttonPressedColor);
  background: var(--containerBackground);
}

.drag {
  border: 2px solid var(--buttonPressedColor);
  background: var(--containerBackground);
  width: 100%;
  text-align: center;
  padding: 2em;
  margin-top: 1em;
  cursor: pointer;
}

.space {
  margin-top: 1.5em;
}
