.color {
    background: transparent;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    /* background-color: #000000; */
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    cursor:pointer;
}

.selected {
    box-shadow: 0 0 5px 4px #1f1f1f;
}