.history{
  color: #ea6225;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-right: 12px;
}

.extend{
  margin-bottom:8px;
}

.inputField, .dateField {
  border: none !important;
  /*border-bottom: 2px solid var(--textBoxOutlineColor);*/
  margin: 0px !important;
  padding: 0px !important;
  color: gray !important;
  font-weight: 400;
  font-size: 14px;
  border-radius: inherit;
  line-height: inherit;
  text-indent: inherit;
  font-family: 'Lato', sans-serif;
  box-shadow: 0px 1px 3px grey;
  text-align: center;
  border: 1px solid gray;
  background: #FFF;
}

.btn ,.btn:hover {
  color: #ea6225 !important;
  font-size: 10px !important;
  font-weight: bold !important;
}

.icon {
  font-size:12px !important;
  margin-right: 4px; 
}

.body {
  min-height: 200px;
}