.label {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 2em;
  }
  
  .container {
    padding: 1em 0;
    margin-bottom: 1em;
    border-bottom: 1px solid #eeeeee;
  }
  
  .center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*align-items: flex-end;*/
    text-align: right;
    padding-right: 0px;
  }
  
  .warning {
    color: orangered;
  }
  
  .error {
    color: red;
  }

  .link {
    color: #ea6225;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }

  .deleteProd {
    display: inline;
    color: #ea6225;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
  }
  .center button {
    margin-left: 1.5em;
  }