.rowStandard {
    margin-bottom: 2em;
    padding-left:25px;
    padding-right:25px;
    font-weight: 400;
    text-align: center;
}

.rowStandards {
    margin-bottom: 2em;
    padding-left:25px;
    padding-right:25px;
    font-weight: 400;
    text-align: justify;
}

.alignText {
    text-align: justify;
}

h3 {
    margin-top : 0px !important;
}

.footer {
    color: #e65454;
    text-align: center !important;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

.footer:hover {
    background: #80808038;
}

.icon {
    color: #e65454;
    font-size: 42px;
}

.success {
    color: #57bf57;
}
.successIcon {
    color: #57bf57
}

.footers {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px !important;
    /* align-items: center; */
    height: 45px;
    color: #e65454;
    text-transform: uppercase;
}

.vr {
    height: 50px;
    border-left: 0.1em solid #E4E4E4;
}

.submitButton, .submitButton:hover {
    background: none !important;
    border: none !important;
    color: #e65454 !important;
    text-transform: capitalize !important;
    font-size: 15px !important;
    margin-top: 6px !important;
}