.Info { /* stylelint-disable */
    width: 50px !important;
    height: 50px !important;
    cursor: pointer;
}

.noteInfo { /* stylelint-disable */
    width: 40px !important;
    height: 40px !important;
    margin-top: -8px;
    margin-bottom: -8px;
    cursor: pointer;
}

.html {
    font-size: 14px;
    font-weight: 400;
    padding-right: 0px;
}

.ModalBody {
    font-weight: 300 !important;
}

.marginStyle {
  margin-top: -8px;
}


.enlarge {
    font-size: 15px;
    font-weight: 100;
    color: #98999a;
    text-align: center;
  }