.title {
  font-size: 18px;
  text-transform: capitalize;
  margin: 1em;
}

.titleHead {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0em;
  color: #EA6225;
}

.space {
  margin-top: 2.3em;
}

.flexible {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexibleItems {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.flexibleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.view {
  margin-bottom: 80px;
}

.img {
  height: 30px;
  margin-right: 10px;
}
