
.DatePicker {
    width: 100%;
    border: 2px solid var(--textBoxOutlineColor) !important;
    border-radius: 2px;
    margin-top: 0.5em;
    line-height: 2em;
    text-indent: 5px;
    height: 34px;
    font-family: 'Lato', sans-serif;
    color: var(--navbarColor) !important;
}


.disabled {
	background: #e9e9e9;
}

.pickerWidth {
	width: 76%;
}

.perio {
	margin-left: 15px;
}

.InputField {
    border: none !important;    
    margin: 0px !important;
    padding: 0px !important;
    color: gray !important;
    font-weight: 400;
    font-size: 14px;
    border-radius: inherit;
    font-family: 'Lato', sans-serif;
    box-shadow: 0px 1px 3px grey;
    border: 1px solid gray;
    background: #FFF;
    margin: 0px;
    border-radius: 5px;
    height: 24px;
  }

  .clear {
    position: relative;
    float: right;
    right: 5px;
    /* left: 85%; */
    /* top: 8%; */
    bottom: 29px;
    font-size: 16px;
    cursor: pointer;
  }

  .calendar {
    position: relative;
    float: right;
    right: 5px;
    /* left: 85%; */
    /* top: 8%; */
    bottom: 33px;
    font-size: 16px;
    cursor: pointer;
  }