
.AutocompleteField {
    width: 100%;
    display: flex;
}

.DisableField {
    background: #e2e2e2;
}

.InputField {
    border: none !important;
    padding: 0px !important;
    border-bottom: 1px solid var(--textBoxOutlineColor) !important;
    color: gray;
    text-indent: 0px;
    height: 31px;
    width:200px;
}

.InputField1 {
    border: none !important;
    padding: 0px !important;
    border-bottom: 1px solid var(--textBoxOutlineColor) !important;
    color: gray;
    text-indent: 0px;
    height: 31px;
    width: 200px;
}

  .view {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -25px;
    margin-right: -24px;
    font-size: 18px;
    padding-left: 3px;
    border-left: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
  }