@import '../../containers/App/styleconstants.css';


.MultipleUpload {
  margin-top: 12px;
}

.drop { /* stylelint-disable */
  text-align: center;
  cursor: pointer;
  transition: 0.25s all;
  align-items: center;
  position: fixed;
  top: 34px;
  right: 67px;
}


.drag {
  border: 2px solid var(--buttonPressedColor);
  background: var(--containerBackground);
  width: 100%;
  text-align: center;
  padding: 2em;
  margin-top: 1em;
  cursor: pointer;
}

.space {
  overflow: auto;
  max-height: 225px;
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: 20px;
}


/* SCROLLBAR */
/* Let's get this party started */
.space::-webkit-scrollbar {
  width: 6px;
  border: 1px solid transparent;
  height: 6px;
}


/* Handle */
.space::-webkit-scrollbar-thumb {
  background: #98999a;
  border: 1px solid transparent;
  border-radius:30px;
}


.preview {
    text-align: center;
    height: 72px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    font-weight: 400;
    font-size: 12px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}


.icons {
  display: flex;
  justify-content: space-between;
  width: 50px;
  font-size: 18px;
}
.glyphIcon {
  cursor: pointer;
  color: #ef8b5d !important
}

.fileNames {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 13px;
}

.uploadDate {
  color: gray;
}

.img{
  width: 70px;
}

.rowStandard {
  margin-bottom: 2em;
  padding-left:25px;
  padding-right:25px;
  font-weight: 400;
  text-align: center;
}

.footer {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px !important;
  /* align-items: center; */
  height: 45px;
}

.submitButton, .submitButton:hover {
  background: none !important;
  border: none !important;  
  color: #6897FC !important;
  text-transform: capitalize !important;
  font-size: 15px !important;
  margin-top: 6px !important;
}


.vr {
  border-left: 0.1em solid #E4E4E4;
}

.notFound {
  font-style: italic;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  margin-top: 20px;
}