@import '../../containers/App/styleconstants.css';


.ModalRecordForm {
  margin-right: 1.5em;
}

.title {
  margin-top: 0px !important;
}

.link {
  cursor: pointer;
}

.printLink {
  cursor: pointer;
  display: flex;
  width: 100px;
}

.rowStandard {
  margin-bottom: 2em;
}


.icon {
  margin-right:6px;
}

.img {
  cursor: pointer;
  width:37px;
}


.tooltip {
  visibility: hidden;
  width: auto;
  background-color: #e4e4e4;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.ModalRecordForm:hover .tooltip {
  visibility: visible;
}
.infoIconCls{
  color:#EA6225;
  display: flex;
}
.header{
  color:'#EA6225';
}
.sharedInfoIcon{
  margin-top: -8px;
}
