@import 'containers/App/styleconstants.css';


.rowStandard {
  margin-bottom: 2em;
  padding-left:25px;
  padding-right:25px;
  font-weight: 400;
  text-align:center;
}


.saveButton, .saveButton:hover {
  background: none;
  border: none;
  padding:0px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 13px;
}

.submitButton, .submitButton:hover {
  background: none;
  border: none; 
  color: #6897FC;
  text-transform: capitalize;
  font-size: 15px;
}

.footer {
  display:flex;
  justify-content: space-between;
  padding: 0px;
  height: 43px;
}

.vr {
  border-left: 0.1em solid #E4E4E4;
}