.textarea { /* stylelint-disable */

}

.info {
  display: flex;
  justify-content: flex-start;
  margin-right: 15px;
}

.info label {
  width: 180px;
  margin-right: 12px;
  font-size: 16px;
  margin: 11px;
  display: flex;
  align-items: center;
}

.info textarea {
  color: black;
}

.disabled {
    background-color: #efefef !important;
}
