@import '../../containers/App/styleconstants.css';


.loginPage {
  position: relative;
  width: 100%;
}

.loginImage {
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 100%;
  position: fixed;
  display: inline-block;
  box-shadow: 0px 6px 22px -14px #ffffff00;
  z-index: 9;
}

.loginForm { /* stylelint-disable */
  height: 100%;
  position: fixed;
  background: var(--navbarColor);
  background: -moz-linear-gradient(top,  var(--navbarColor) 0%, var(--navbarColor) 100%);
  background: -webkit-linear-gradient(top,  var(--navbarColor) 0%,var(--navbarColor) 100%);
  background: linear-gradient(to bottom,  var(--navbarColor) 0%,var(--navbarColor) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--navbarColor)', endColorstr='var(--navbarColor)', GradientType=0 );
  color: white;
  padding: 2% 0;
  top: 0;
  right: 0;
  display: inline-block;
}

.loginForm input {
  height: 2.5em;
  width: 100%;
  border-bottom: 1px solid white;
  padding: 0.5em 0;
  margin-bottom: 0;
}

.loginForm input:focus {
  border-color: white;
}

.loginForm input:-webkit-autofill,
.loginForm input:-webkit-autofill:hover,
.loginForm input:-webkit-autofill:focus,
.loginForm input:-webkit-autofill:active {
  color: white !important;
  -webkit-text-fill-color: white;
}

.loginBody {
  padding: 0 5%;
}

.loginBody > img {
  margin-bottom: 3.5em;
}
