
.MultiCheckboxField label{
    position: relative;
    display: flex;
    margin: .7em 0;
    align-items: center;
    width: 50%;
    float: left;
    font-weight: 400;
}

.MultiCheckboxField input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em !important;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;  
}

.MultiCheckboxFieldSingle
{
    display: flex;
    flex-direction: column;
}

.MultiCheckboxFieldSingle label{
    position: relative;
    display: flex;
    margin: .7em 0;
    align-items: center;
    width: 50%;
    float: left;
    font-weight: 400;
}

.MultiCheckboxFieldSingle input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em !important;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}

.renderField > div:not(:first-child):before {
    content: "";
    display: block;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 14px;
    text-align: center;
    border-width: thin;
    align-items: center;
}

.renderField label {
    padding-left: 25px;
}

      
        

        