.button {
  float: right;
  color: white;
  padding: 0;
}

.button:hover,
.button:focus {
  color: white;
}

.inputField {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid white !important;
  color: white;
}
