
.content {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* margin: 0px; */
    color: #042322 !important;
    font-size: 14px;
}

.displayDate {
    font-weight: 100;
    font-size: 12px;
}