@import 'containers/App/styleconstants.css';


.ModalRecordForm {
  margin-top: 13px;
  margin-left: 15px;
}

.title {
  margin-top: 0px !important;
  text-align: center;
  color: #EA6225;
}

.link {
  cursor: pointer;
  color: green;
  font-size: 13px;
}

.rowStandard {
  margin-bottom: 2em;
}


.icon {
  margin-right:6px;
}

.img {
  cursor: pointer;
}


.tooltip {
  visibility: hidden;
  width: auto;
  background-color: #e4e4e4;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.ModalRecordForm:hover .tooltip {
  visibility: visible;
}
.infoIconCls{
  color:#EA6225;
  display: flex;
}
.header{
  color:'#EA6225';
  font-weight: bold;
}
.sharedInfoIcon{
  margin-top: -8px;
}

.codeStyle {
    font-weight: bold;
}

.divStyle {
    margin-bottom: 20px;
}

.descStyle {
    font-weight: 500;
    margin-left: 10px;
}