

.ClinicalNotes {
    padding: 25px;
    background: #FFF;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height:700px;
}

.titleStyle {
  color: #EA6225;
  font-size: 18px;
  font-weight: 700;
}

.img{
cursor: pointer;
margin-right: 1.5em;
width: 50px;
height: 50px;
}

.header {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* margin: 0px; */
    position: relative;
    /*top: -9px;
    width: 95%;*/
    align-items: center;
  }
  
.notes, .notes:hover {
    color: #ef8b5d !important;
    background: #FFF !important;
    border: transparent !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    border-radius: 4px !important;
    margin: 0px;
    margin-right: 13px;
    min-width: 223px;
}

.submitbtn {
    width: 12%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 18px;
    text-align: center;
}

.space {
    overflow-y: auto;
    max-height: 580px;
    margin-bottom: 20px;
    margin-top: 32px;
    overflow-x: hidden;
}



/* SCROLLBAR */
/* Let's get this party started */
.space::-webkit-scrollbar {
    width: 6px;
    border: 1px solid transparent;
    height: 6px;
}
  
  
/* Handle */
.space::-webkit-scrollbar-thumb {
    background: #98999a;
    border: 1px solid transparent;
    border-radius:30px;
}

.listNotes, .FormProvider {
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    margin-bottom: 20px;
    align-items: flex-start;
    color: #000000;
}

.nameHead {
    font-size: 16px;
    margin: 0em;
}  

.listTitle {
    text-align: left;
    font-size: 13px;
    padding-right: 11px;
    width: 70%;
    cursor:pointer;
}


.btn ,.btn:hover {
    color: #ea6225 !important;
    font-size: 11px !important;
    font-weight: bold !important;
}

.edit ,.edit:hover {
    color: #ea6225 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    padding-top: 14px;
}

.padTop {
    padding-top: 16px;
}


.iconimg {
    cursor: pointer;
    width: 38px;
    height: 38px;
    margin-right: 23px;
}

.DateNotes {
    height: 2.8em;
    background: #EFEFEF;
    border: transparent;
    position: absolute;
    z-index: -10;
}

.textarea { /* stylelint-disable */
    height: 2.8em;
    background: #EFEFEF;
    border: transparent;
    font-weight: normal;
    font-size: 14px;
} 

.editField button, .editField button:hover {

    background: none;
    color: #ea6225 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    border: none;
    height: 0px !important;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}


.rowStandard {
    margin-bottom: 2em;
    padding-left:25px;
    padding-right:25px;
    font-weight: 400;
    text-align: center;
  }
  
  
  .imgDelete {
    width: 25px !important;
    height: 25px !important;
  }
  
  .submitButton, .submitButton:hover {
    background: none !important;
    border: none !important;  
    color: #6897FC !important;
    text-transform: capitalize !important;
    font-size: 15px !important;
    margin-top: 6px !important;
  }
  
  .footer {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px !important;
    /* align-items: center; */
    height: 45px;
  }
  
  .vr {
    border-left: 0.1em solid #E4E4E4;
  }
  

  .noList {
    font-weight: normal;
    text-transform: capitalize;
    font-style: italic;
}

.closeIcon {
    color: #000000;
    font-size: 28px;
    margin-left: 42px;
    cursor: pointer;
}