.children {
    background: #818284;
    padding-top: 25px;
    padding-bottom: 25px;
}

.title {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.tab {
    background: #FFF;
    border-radius: 6px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 28px;
    position: absolute;
    right: 24px;
    z-index:1;
    top: 7px;
    width: auto;
    font-family: Lato,sans-serif;
    font-size: 12px;
    color: #404041;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.selected {
    background: #fff !important;
    border: #505050 !important;
}

.tab button,.tab button:hover  {
    width: 52%;
    font-size: 10px;
    text-align: center;
    height: 24px;
    border-radius: 6px;
    text-transform: capitalize;
    font-family: Lato,sans-serif;
    font-size: 12px;
    line-height: 0px;
    color: #404041;
    cursor:pointer;
    background: #FFF;
    border: none;
}

.info {
    padding-top: 7px;
    /*flex: 1 0 54%;*/
    /* display: flex !important; */
    padding-left: 15px;
}

.info img {
    width: 13px;
    height: 13px;
}

.info span {
    color: #fff;
    margin-right: 10px;
    font-size: 13px;
}

.links {
    display: flex;
    position: absolute;
    z-index:1;
    top: 7px;
}

.links img {
    cursor: pointer;
    margin-left: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.briefImg {
    margin-top: -3px;
}