.tableWrapper2 { /* stylelint-disable */

}

.ReactTableFilters {
}

.countStyle {
  color: #98999a;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 5px;
}

.implantReport {
  padding-left: 5px;
  padding-right: 5px;
}

.filter {
    background: white;
    padding-top: 25px;
    border-top-right-radius: 8px;
}

.reactTableSizepicker {
    float: left;
    text-align: left;
    cursor: pointer;
    width: 50%;
}

.reactTableSizepickerSelectfield {
    margin: 0 5px;
    width: 75px;
}

.reactTableSearch {
    text-align: right;
    float: right;
    width: 50%;
}

.reactTableSearchLabel {
    margin-top: 0 !important;
}

.reactTableSearchInput {
    cursor: pointer;
    margin-left: 10px;
    max-width: 200px !important;
}
