.inputField {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid white !important;
  color: white;
}

.resetPassword {
  color: white;
  transition: 0.25s all;
  opacity: 0.6;
}

.resetPassword:hover {
  color: white;
  opacity: 0.9;
}

.loginButton:disabled::after {
  content: '\ed86';
  font: normal normal normal 14px/1 "fontello";
  position: absolute;
  top: 20px;
  left: 80px;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  -webkit-animation: fa-spin 1.6s infinite linear;
  animation: fa-spin 1.6s infinite linear;
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
