.AutocompleteField .autocomplete-field {
    margin-left: 25px !important;
    width: 92% !important;
}

.LedgerAutocompleteField .autocomplete-field {
    margin-left: 25px !important;
    width: 92% !important;
}

.LedgerAutocompleteField {
    width: 300px !important;
}

.DisableField {
    background: #e2e2e2;
}