.actionButton {
    margin-top: 20px;
    background: #ea6225;
    color: white;
    width: 100%;
    min-height: 42px;
    text-transform: none;
    font-size: 13px;
    font-weight: 800;
    white-space: unset;
    height: auto;
}

/* .actionButton:hover {
  background: none;
  color: #ea6225;
} */
