.checkboxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 3em;
}

.checkboxContainer > label {
  white-space: nowrap;
}

.checkboxContainer > input {
  white-space: nowrap;
  width: auto;
  margin: 0 0.5em 0 0;
  font-size: 115%;
  height: auto;
}

.practiceCheckContainer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 2em;
  margin-bottom: 2em;
}

.practiceCheckContainer > label {
  white-space: nowrap;
}

.practiceCheckContainer > input {
  white-space: nowrap;
  width: auto;
  margin: 0 0.5em 0 0;
  font-size: 115%;
  height: auto;
}