@import 'containers/App/styleconstants.css';


.ModalRecordForm {
  margin-right: 1.5em;
}

.title {
  margin-top: 0px !important;
  display: flex;
  justify-content: space-between;
  margin-right: 3em !important;
}

.button {
  margin-bottom: 0px !important;
}

.addBtn {
  cursor: pointer;
  font-size: 12px;
}

.link {
  cursor: pointer;
}

.referStyles {
  cursor: pointer;
  color: white;
}

.referStyles:hover {
  color: white;
}

.printLink {
  cursor: pointer;
  display: flex;
  width: 100px;
}

.rowStandard {
  margin-bottom: 2em;
}

.icon {
  margin-right:6px;
}

.referIcon {
  margin-right: 1em !important;
}

.img {
  cursor: pointer;
}


.tooltip {
  visibility: hidden;
  width: auto;
  background-color: #e4e4e4;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.ModalRecordForm:hover .tooltip {
  visibility: visible;
}
.infoIconCls{
  color:#EA6225;
  display: flex;
}
.header{
  color: #EA6225;
  font-weight: bold;
}
.sharedInfoIcon{
  margin-top: -8px;
}
.actions {
  display: flex;
  flex-direction: row;
  color:'#EA6225';
}

.actions span {
    margin-right:3px;
    color:'#EA6225';
}

.btnDelete ,.btnDelete:hover {
  color: #ea6225 !important;
  font-size: 14px !important;
  padding: 0px 12px 0px 0px !important;
  text-transform: capitalize;
}
