.viewRecordPage {
  padding-bottom: 2em;
}

.total {
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
}

.printButton {
  float: right;
}

.space {
  padding-top: 2em;
}

.headTitle {
  margin-bottom: 1.2em;
}

.line {
  margin-top: 0;
}

.info p {
  margin: 0;
}

.headerData {
  margin-bottom: 2em;
}

.headerData > span {
  margin-right: 2em;
}

.paymentData {
  margin-bottom: 2em;
  text-align: right;
  padding-right: 13px;
}

.right {
  text-align: right;
}
