.title {
  font-size: 18px;
  text-transform: capitalize;
  margin: 1em;
}

.titleHead {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0em;
  color: #fff;
  font-weight: bold;
}

.titleHead1 {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0em;
  margin-right: 30px !important;
  color: #fff;
  font-weight: bold;
}

.flexible {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexibleRow {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.searchField {
  text-align: right;
  float: left;
  padding: 0px;
  margin-bottom: 20px;
  width:88%;
}

.searchField input {
  margin-right: 10px;
  background-color: white;
  margin-left: 10px;
  max-width: 215px !important;
}
.gobtn
{
background: #aaaaaa !important;
color: white !important;
border-color: white !important;
border-radius: 0px !important;
}
/*.analyticsStyle {
color: #FFF;
}

.analyticsInfo {
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: #aaaaaa;
text-align: center;
border-radius: 8px;
}

.analyticsInfo div {
display: flex;
flex-direction: column;
margin: 1px 5px -9px 5px;
padding-left: 12px;
padding-right: 12px;
}*/

/*.analyticsStyle {
color: #FFF;
padding-left: 25px;
padding-right: 25px;
margin-right: 25px;
}

.analyticsInfo {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 82%;
border-radius: 8px;
text-align: center;
background-color: #aaaaaa;
color:white;
}

.analyticsInfo div {
display: flex;
flex-direction: column;
margin: 1px 7px -9px 0px;
padding-left: 14px;
padding-right: 8px;
}

.analyticsInfo div span {
color:white !important;
}*/



.analyticsInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #aaaaaa;
  width: 100%;
  color: white !important;
}

.analyticsInfo div {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  padding-bottom: 0px;
}

.analyticsInfo div span {
  color: white !important;
}

.view {
  margin-bottom: 80px;
}

.box {
  border: 2px solid #fff;
  border-radius: 5px;
  height: 120px;
  background: #FFF;
  color: #EA6225;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  cursor: pointer;
  font-weight: bold;
}

.coloredBox {
  border: 2px solid #fff;
  border-radius: 5px;
  height: 120px;
  background: #8CBBF5;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  cursor: pointer;
  font-weight: bold;
}

.gridStyle{
  width: 90%;
}

.marginStyle{
  margin-left: 50px;
}

@media (min-width: 1224px) {
  .analyticsStyle {
    color: #FFF;
    padding-right: 25px;
    margin-right: 25px;
    width: 98%;
  }

  .searchField {
    text-align: right;
    float: left;
    padding: 0px;
    margin-bottom: 20px;
    padding-right: 15px;
    margin-left: 25px;
  }

  .boxWidth {
    width: 90%;
  }
}

@media (min-width : 1824px) {
  .analyticsStyle {
    color: #FFF;
    padding-right: 25px;
    margin-right: 25px;
    width: 89%;
  }

  .searchField {
    text-align: right;
    float: left;
    padding: 0px;
    margin-bottom: 20px;
  }

  .boxWidth {
    width: 98%;
  }
}

.infoCE {
  display: inline-block;
}