@import '../../containers/App/styleconstants.css';

.filtersWrapper {
  overflow: hidden;
}

.filters {
  font-size: 0.9em;
  overflow: auto;
  max-height: 80vh;
  padding: 12px;
  background: #fff;
}

.rangeSlider {
  width: 90%;
  margin: 0 auto;
}

.productBox {
  max-height: 75vh;
  overflow: auto;
  overflow-x: hidden;
  padding: 24px 12px;
  background: #fff;
}

.textbox {
  background: #fff;
}

.productImageView {
  background-image: url(http://s3.amazonaws.com/uploads.novadonticsllc.com/img/placeholder.jpg);
  background-size: cover;
  height: 64px;
  width: 64px;
  cursor: pointer;
}

.productButton {
  text-align: left;
  color: var(--buttonColor);
  display: block;
}

.filterBox {
  max-height: 300px;
  overflow: auto;
}

.filters button {
  z-index: 9999;
}
.cartButton,
.addToCart {
  color: var(--buttonColor);
  transition: 0.2s all;
  font-weight: 700;
}

.removeButton {
  opacity: 0.7;
  font-weight: 300;
  transition: 0.2s all;
}

.removeButton:hover,
.cartButton:hover,
.addToCart:hover {
  color: var(--buttonHoverColor);
}

.cartButton {
  margin-top: 30px;
}

.rightAlign {
  text-align: right;
}

.overnightContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.overnightLabel {
  white-space: nowrap;
  margin-right: 1em;
}

.noHoverColor:hover {
  background: #67a2d4 !important;
  color: white !important;
}

.invoice,.invoice:hover {
  display: inline-block;
  cursor: pointer;
  color: #000000;
  margin-left: 12px;
}

.paymentStatus {
  display: flex;
  justify-content: space-between;
  position: absolute;
}
.header {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* margin: 0px; */
    position: relative;
    top: -9px;
    width: 95%;
  }


  .btn ,.btn:hover {
    color: #ea6225 !important;
    font-size: 14px !important;
    padding: 2px 12px 0px 0px !important;
    text-transform: capitalize;
  }


  .btnDelete ,.btnDelete:hover {
    color: #ea6225 !important;
    font-size: 14px !important;
    padding: 0px 12px 0px 0px !important;
    text-transform: capitalize;
  }

  .actions {
    display: flex;
    flex-direction: row;
  }

  .actions span {
      margin-right:3px;
  }

  .shareAdmin {
    font-size: 15px;
    color: var(--buttonColor);
    padding: 12px;
    cursor: pointer;
  }

  .shareAdmin span{
    font-size: 18px;
  }
  .fontColor {
    color: #EA6225;
  }