.viewRecordPage {
  padding-bottom: 2em;
}

.actions {
  display: block;
  text-align: right;
}

.label {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 2em;
}

.list {
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.row{
  height: 5rem;
  line-height: 5rem;
  vertical-align: center;
}
.row:hover{
  background: whitesmoke;
}

.lCol {
  composes: row;
  display: inline-block;
}

.rCol > a  {
  color: lightgrey;
}

.rCol > a:hover {
  color: orangered;
}

.rCol {
  composes: row;
  display: inline-block;
  float: right;
}