.modalBody{
    font-weight: 700 !important;
  }
  .colStyle{
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      background: #fff;
      margin: 25px;
      padding: 25px;
      border-radius: 5px;
  }
  .detailsStyle {
    display: flex;
    flex-direction: column;
    font-weight: normal;
  }
  
  .detailsStyle table tr td b {
    display:flex;
    justify-content: space-between;
  }
  
  .detailsStyle table tr td {
    text-transform: capitalize;
    vertical-align: top;
    min-width: 300px;
  }
  .noData {
    text-align: center;
    font-style: italic;
  }
  .header {
    display: flex;
    -ms-flex-pack: justify;
    position: relative;
    justify-content: space-between;
    top: -9px;
    width: 95%;
  }