.chart { /* stylelint-disable */
  margin-top: 1.5em;
  
}
.chartType{
  width: 21%;
  position: relative;
  left: 80%;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: 89%;
  background-position-y: center;
  -webkit-appearance: none;
  background-Image: url(img/downarrow.svg);
}
