.gallery { /* stylelint-disable */
    display: flex;
    overflow: auto;
    height: 166px;
  }
  
  /* SCROLLBAR */
  /* Let's get this party started */
  .gallery::-webkit-scrollbar {
    width: 6px;
    border: 1px solid transparent;
    height: 6px;
  }
  
  
  /* Handle */
  .gallery::-webkit-scrollbar-thumb {
    background: #98999a;
    border: 1px solid transparent;
    border-radius:30px;
  }
  
  .preview {
    float: left;
    margin-left: 20px;
    cursor: pointer;
    text-align:center;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .play {    
    position: relative;
    top: -17px;
    background: transparent;
    /* width: 20px; */
    left: -84px;
  }
  
  .play img {
    width: 40px !important;
    height: 40px !important; 
  }
  
  .imgReponsive {
    width: 120px;
    height: 112px;
  }
  
  
  .upload {
    margin-top: 12px;
    background: #EFEFEF;
    width: 120px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    height: 112px;
    float:left;
    margin-left: 20px;
    padding:10px; 
    margin-bottom: 12px;
  }
  
  .upload div {
    width: 100px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }
  
  
  .img{
    width: 70px;
  }
  
  .previewImg, .previewFile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    width: 120px;
    flex-wrap: wrap;
    word-break: break-all;
    text-transform: uppercase;
    height: 136px;
  }
  
  .previewImg img {
    width: 120px;
    height: 112px;
  }

  .saasPreview {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    width: 300px;
    flex-wrap: wrap;
    word-break: break-all;
    text-transform: uppercase;
    height: 136px;
  }

  .saasPreview img {
    width: 300px;
    height: 112px;
  }

  .previewFile img {
    width: 50px;
    height: 50px;
  }
  
  .previewFile div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 112px;
  }
  
  
  .uploadDate {
    height: 24px;
    color: #fff;
    background-color: #98999a;
    width: 100%;
    font-size: 12px;
  }