.header {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* margin: 0px; */
    position: relative;
    top: -9px;
    width: 95%;
  }


  .btn ,.btn:hover {
    color: #ea6225 !important;
    font-size: 14px !important;
    padding: 2px 12px 0px 0px !important;
    text-transform: capitalize;
  }

  .actions {
    display: flex;
    flex-direction: row;
  }

  .actions span {
      margin-right:3px;
  }

  .shareAdmin {
    font-size: 15px;
    color: var(--buttonColor);
    padding: 12px;
    cursor: pointer;
  }

  .shareAdmin span{
    font-size: 18px;
  }
  .fontColor {
    color: #EA6225;
    display: flex;
  }
  .sharedInfoIcon{
    margin-top: -8px;
  }