.system {
    width: 35%;
    font-weight: 100;
    margin-top: 4px;
    height: 26px;
    font-size: 12px;
    border: 1px solid #8080807a;
}
.PerioChart {
    background-color: #fff;
    color: #000;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-bottom: 1px;
  }

.title {
    display: flex;
    justify-content: space-between;
    margin-top: 0px !important;
}

.titleStyle {
  color: #ea6225;
  font-size: 18px;
  font-weight: 700;
}

.closeIcon {
    color: #000000;
    font-size: 28px;
    margin-left: 42px;
    cursor: pointer;
}

.header {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* margin: 0px; */
    position: relative;
    /*top: -9px;
    width: 95%;*/
    align-items: center;
  }

.img {
    cursor: pointer;
}

.view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.view span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TableData {
    text-align: center;
    margin-top: 12px;
}

.Table {
    margin-top: 25px;
}

.Table th {
    border-top: 0;
    text-align: center;
    border: 1px solid #8080807a !important;
    font-weight: bold !important;
    vertical-align: middle !important;
    text-transform: uppercase;
    font-size: 13px;
}

.Table td {
    border: 1px solid #8080807a;
    padding: 2px;
    width:36px;
    font-weight: 200;
    height: 30px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle !important;
}

.Table:first-child tr:first-child th:first-child { 
    width: 11%;
}

.Table:first-child tr:first-child th:nth-child(2) { 
    width: 9%;
}


.btn ,.btn:hover {
    color: #ea6225 !important;
    font-size: 10px !important;
    font-weight: bold !important;
  }

.icon {
    font-size:12px !important;
    margin-right: 4px; 
}
.multic{
    width: 150px;
}
.multic1{
    width: 180px;
    height: 495px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.multic1Testing{
    width: 150px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.singlec{
    width:180px;
}
.dateField{
    width:300px;
}

.lable{
    padding-top: 10px;
    font-weight: bold;
    padding-right: 5px;
}
.lablec{
    padding-top: 10px;
    font-weight: bold;
    padding-right: 5px;
    margin-top: -25px;
}
.checkboxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dotred{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
    margin-left: 55px;
}
.viewtd{
    position: relative;
}
.abbdiv{
    padding-right: 20px;
    padding-left: 50px;
}
.abbcon{
    font-weight: bolder;
}
.stickycol{
    position: absolute;
    right: -5px;
    top: auto;
    width: 100px !important;
    height: 35px !important;
    background-color: #ea6225;
    color: #FFF;
}
.stickycol2{
    position: absolute;
    right: -5px;
    top: auto;
    width: 100px !important;
    height: 262px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.periodiv{
    margin-right: 92px;
    margin-left: 0px;
}
.stickycolbig{
    position: absolute;
    right: -5px;
    top: auto;
    width: 100px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 903px !important;
    display: flex;
}
.marginStyle {
    margin: 25px;
    padding-top: 25px;
    margin-bottom: 0px;
    position: relative;
  }
.marginStyleLess {
    margin: 25px;
    margin-bottom: 0px;
    position: relative;
  }
.stickycol1{
    position: absolute;
    right: -5px;
    top: auto;
    width: 100px !important;
    height: 507px !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.marginzero{
    margin: 0px !important;
}

.endoCenter{
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
}