@import '../../containers/App/styleconstants.css';

.skCubeGrid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.skCubeGrid .skCube {
  width: 33%;
  height: 33%;
  background-color: var(--spinnerColor);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.skCubeGrid .skCube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.skCubeGrid .skCube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.skCubeGrid .skCube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.skCubeGrid .skCube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.skCubeGrid .skCube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.skCubeGrid .skCube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.skCubeGrid .skCube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.skCubeGrid .skCube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.skCubeGrid .skCube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.skCubeGrid1 {
  width: 40px;
  height: 40px;
  margin: 0px auto;
}

.skCubeGrid1 .skCube {
  width: 33%;
  height: 33%;
  background-color: var(--spinnerColor);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.skCubeGrid1 .skCube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.skCubeGrid1 .skCube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.skCubeGrid1 .skCube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.skCubeGrid1 .skCube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.skCubeGrid1 .skCube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.skCubeGrid1 .skCube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.skCubeGrid1 .skCube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.skCubeGrid1 .skCube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.skCubeGrid1 .skCube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
  }
}
