.marginStyle {
    margin: 25px;
    padding-top: 25px;
    margin-bottom: 0px;
  }
.prescriptions
{
background-color: #fff;
  color: #000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.body {
    display: inline-block;
    width: 100%;
}

.body h4 {
    font-weight: bold;
}

.inline {
    margin-bottom: 30px;
    padding: 0px;
}
.closeIcon {
    color: #000000;
    font-size: 28px;
    cursor: pointer;
    margin-top: -9px;
    margin-left: -74%;
    margin-right: -51px;
}
.title {
    font-size: 16px;
    background: #c8c9cb;
    padding: 3px 12px 3px 12px;
}

.fields {
    padding-left: 25px;
}

.header {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* margin: 0px; */
    position: relative;
    top: -9px;
    width: 95%;
}

.history {
    color: #ea6225;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-right: 30px;
    margin-top: 2px;
}

.medication {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: -36px;
}

.medication span {
    font-weight: normal;
}

.inlineForm {
    display: flex;
    flex-direction: column;
}

.searchField {
    text-align: left;
    float: left;
    padding: 0px;
    margin-bottom: 20px;
}

.searchField input {
    cursor: pointer;
    margin-right:10px;
    margin-left: 10px;
    max-width: 200px !important;
}


.noPrescriptions {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


.allergies {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: -36px;
    margin-bottom: 20px;
    font-weight: normal;
}