.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.btn ,.btn:hover {
    color: #ea6225 !important;
    font-size: 10px !important;
    font-weight: bold !important;
    padding: 2px 12px 0px 0px !important;
}

.icon {
    font-size:12px !important;
    margin-right: 4px; 
}