@import 'containers/App/styleconstants.css';

.header {
  text-align: center;
  background: #818284 !important;
  min-height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.subtitle {
  color: #FFF !important;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn,.btn:hover  {
  background: none;
  border: none;	
  padding:0px;	
  text-transform: capitalize;
  font-weight: 400;
  font-size: 13px;
}

.saveButton, .saveButton:hover {
    background: none;
    border: none;
    padding:0px;	
    text-transform: capitalize;
    font-weight: 400;
    font-size: 13px;
}

.schemaBody {
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 0px;
  -webkit-overflow-scrolling: touch;
}


/* SCROLLBAR */
/* Let's get this party started */
.schemaBody::-webkit-scrollbar {
  width: 4px;
  border: 1px solid transparent;
}


/* Handle */
.schemaBody::-webkit-scrollbar-thumb {
  background: #98999a;
  border: 1px solid transparent;
  border-radius:30px;
}

.dispnone {
  display: none;
}

.footer > div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    background: #80808038;
    border: 2px solid transparent;
    border-radius: 100px;
    cursor: pointer;  
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
    float: left;
}

.activeSlider {
  border: 1px solid #EE6100 !important;
  animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
  background: #EE6100 !important;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  margin-top: -10px;
}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}

.groupTitle {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 0px !important;
  display: -webkit-inline-box;
}

.groupTitle , h4 {
  margin-top: 20px !important;
   font-weight:bold;	
}


.columnItems, .columnItem, .rowItem {
  padding: 0px !important;
}

.withoutTitle {
  height: 51.5px;
}