.viewCatalogPage {
  padding-bottom: 2em;
}

.space {
  margin-bottom: 2em;
}

.actions {
  float: right;
  white-space: nowrap;
}

.label {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 2em;
}
