
.flexible {
    display: flex;
    justify-content: space-between;
  }
  
  .flexibleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  .titleHead {
    font-size: 18px;
    text-transform: capitalize;
    margin: 0em;
  }

  .timeline {
    padding: 0px;
    background: white;
    border-radius: 6px;
  }

  .view {
    padding-bottom: 25px;
  }

  .pdf, .csv {
    width: 35px;
    height: 35px;
    margin-top: -6px;
    cursor: pointer;
  }

  .csv {
   padding: 4px;
  }

  .formRow {
    margin-top: -5px;
    display: flex;
  }