.textarea { /* stylelint-disable */
    height: 2.8em;
    background: #EFEFEF;
    border: transparent;
}

.textAreaNotes { /* stylelint-disable */
    height: 12em;
    background: #EFEFEF;
    border: transparent;
}

.Textarea {
    padding:0px !important;
}

.titleStyle {
    color: #EA6225;
    font-size: 18px;
}