.selectField { /* stylelint-disable */

}
.info
{
    display:flex;
    justify-content: flex-start;
    margin-right: 15px;  
}

.info label {
    width:180px;
    margin-right: 12px;
    font-size: 16px;
    margin: 11px;
}

.info select {
    width: 75%;
    height: 38px;
    color:black;
}

.perio {
    height: 34px;
}


.disabled {
    background-color: #efefef !important;
}