.title {
  font-size: 18px;
  text-transform: capitalize;
  margin: 1em;
}

.titleOrange {
  font-size: 18px;
  text-transform: capitalize;
  margin: 1em;
  color: #EA6225;
}

.titleHead {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0em;
}

.titleOrangeHead {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0em;
  color: #EA6225;
}

.costStyle {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  margin-right: 2em;
  margin-bottom: 0.5em;
}

.space {
  margin-top: 2.3em;
}
.practiceAddress p{
  margin: 0;
}
.accountFlexible {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexible {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexibleAccountRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.flexibleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  position: relative;
}

.flexibleColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
}

.copyrightColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.logbook
{
  position: absolute;
  margin-left: 151px;
  display: flex;
  justify-content: space-between;
}

.view {
  margin-bottom: 80px;
}

  .groupSearch {
      float: right;
      padding-top: 10px;
      display: contents;
  }

  .inputSearch {
      width: initial;
      margin-right: 15px;
  }

  .search {
      padding-left: 10px;
      font-size: 18px;
      padding-right: 10px;
      padding-top: 10px;
  }

  .errorMessage {
    display: flex;
    padding-left: 150px;
    color: red;
  }