.OrderTable h5,.ConfirmOrder h5  {
    text-align: right;
}

.productImageView {
  background-image: url(http://s3.amazonaws.com/uploads.novadonticsllc.com/img/placeholder.jpg);
  background-size: cover;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.productWithoutImageView {
  cursor: pointer;
}

.productButton {
  text-align: left;
  color: #000;
  display: block;
  margin-bottom: 3px;
  cursor: pointer;
}


.removeButton {
  font-size: 12px;
  font-weight: bold;
  transition: 0.2s all;
  color: #ea6225;
}

.removeButton:hover {
  color: var(--buttonHoverColor);
}


.noteButton {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 500;
  transition: 0.2s all;
  color: #ea6225;
  margin-top: 5px;
}

.noteButton:hover {
  color: var(--buttonHoverColor);
}

.overnightContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.overnightLabel {
  white-space: nowrap;
  margin-right: 1em;
}

.noHoverColor {
  background: #b9b9b9 !important;
  border-color:#b9b9b9 !important;
  color: #000 !important;
}
.noHoverColor:hover {
  background: #b9b9b9 !important;
  color: #000  !important;
}

.imagecontainer
{
  padding-right: 0px !important;
  display: flex;
  justify-content: center;
 
}

.productoption{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cancelBtn, .cancelBtn:hover  {
  background: #98999a;
  color: #fff;
  font-size: 11px !important;
  font-weight: bold !important;
  margin-left: 12px;
  border: none;
}

.cartaddsub
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:135px;
}

.financeBtn{
  padding: 8px 12px;
  margin-top: 10px;
  border: 2px solid #38a0f1;
  border-radius: 40px;
  transition: 0.2s all;
  color: white;
  background-color: #38a0f1;
  cursor: pointer;
  width: 135px;
  text-align: center;
  -webkit-transition: 0.2s all;
}

.cartsub{
  background-color: #ea6225;
  padding: 7px 15px !important;
  margin-top: 0.5em;
  line-height: 2em;
  text-indent: 0px;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
  color: #fff;  
  font-size: 18px;
  cursor: pointer;
}
.cartadd{
  background-color: #ea6225;
  padding: 7px 15px !important;
  margin-top: 0.5em;
  line-height: 2em;
  text-indent: 0px;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  color: #fff;  
  font-size: 18px;
  cursor: pointer;
}
.cartinput{
  text-align: center;
  margin: 0px;
  border: 1px solid var(--textBoxOutlineColor);
  color: black;
  line-height: 2.3em;
  width: 51px;
}
.productcellcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 30px;
  margin-top: 0px !important;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkswitch:checked + .slider {
  background-color: #ea6225;
}

/* .checkswitch:focus + .slider {
  box-shadow: 0 0 1px #ea6225;
} */
.checkswitch:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.nextbtn{
  display: flex;
  justify-content: center;
  background-color: #ea6225;
  border-radius: 20px;
  color: #fff;
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
}



.emptyDiv{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  color: #fff;
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.filterImage{
  height:40px;
  width:32px;
  vertical-align:center;
  cursor: pointer;
  margin-left: 10px;

}


.address {
  text-align:right;
}

.cartOn {
  position: absolute;
  top: -4px;
  /* left: 314px; */
  background: #ea6225;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
  color: white;
  margin-left: -10px;
}

.rowStandard {
    margin-bottom: 2em;
    padding-left:25px;
    padding-right:25px;
    font-weight: 400;
    text-align: center;
}

h3 {
    margin-top : 0px;
}

.footer {
    color: #e65454;
    text-align: center !important;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

.footer:hover {
    background: #80808038;
}

.icon {
    color: #e65454;
    font-size: 42px;
}

.hideModal {
  opacity: 0 !important;
}

.addButtonStyle{
  margin-top: 0em;
  text-align: right;
}

.catalogButtonStyle{
  margin-top: 6.5em;
  text-align: center;
}

.cancelButtonStyle{
  margin-top: 4.5em;
  text-align: center;
}

.buttonStandard {
  margin-right: 1.5em;
}

.cartmovebtn {
  padding: 8px 8px;
  border: 2px solid #ea6225;
  border-radius: 40px;
  transition: 0.2s all;
  color: #ea6225;
  cursor: pointer;
  width: 108px;
  text-align: center;
  -webkit-transition:0.2s all;
  -ms-transition:0.2s all;
}