.gallery { /* stylelint-disable */
  margin: 0.5em 0;
}

.implantGallery { /* stylelint-disable */
  margin: 0.5em 0;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.button {
  padding: 0.1em;
}
.sliderView {
  display: inline-flex;
  justify-content: center;
  padding: 10px;
}


  .btn ,.btn:hover {
    color: #ea6225 !important;
    font-size: 12px !important;
    font-weight: bold !important;
    padding: 2px 12px 0px 0px !important;
  }

  .icon {
    font-size:12px !important;
    margin-right: 4px;
  }

  .actions {
    padding-left: 0px;
    display: flex;
  }