.MultiSelectField,.MultiSelectField:focus  { /* stylelint-disable */
	border: 2px solid var(--textBoxOutlineColor) !important;
	border-radius: 2px !important;
}

.MultiSelectField div {
	border:0px !important;
}

.infoField {
  display:flex;
  justify-content: flex-start;
  margin-right: 15px;
}

.infoField label {
  width:180px;
  margin-right: 12px;
  font-size: 16px;
  margin: 11px;
  margin-top: 10px;
}

.infoField .MultiSelectField,.MultiSelectField:focus  { /* stylelint-disable */
  border: 2px solid var(--textBoxOutlineColor) !important;
  border-radius: 2px !important;
  width: 75%;
}

.infoField .MultiSelectField div {
  border:0px !important;
}
