
.DatePickerWithNotes {
    height: 2.8em;
    background: #EFEFEF;
    border: transparent;
    position: absolute;
    z-index: -10;
}

.DatePicker { /* stylelint-disable */
    border: none !important;
    border-bottom: 1px solid var(--textBoxOutlineColor) !important;
    color: gray;
    text-indent: 0px;
    height: 31px;
}
    

.textarea { /* stylelint-disable */
    height: 2.8em;
    background: #EFEFEF;
    border: transparent;
} 
