.actionButton {
    margin-top: 20px;
    background: none;
    color: #ea6225;
    width: 100%;
    min-height: 42px;
    text-transform: none;
    font-size: 13px;
    font-weight: 400;
    white-space: unset;
    height: auto;
}

.actionButton:hover {
  background: none;
  color: #ea6225;
}
