.titleHead {
    margin: 0em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;  
    position: relative;
    top:-50px;
    font: normal normal bolder 26px / 30px 'Lato', sans-serif;
  }

  .flexibleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  .backHead {
    font-size: 15px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
  }

  .backButton, .nextButton {
    background: #757575;
    border-color: var(--mediumLightGray);
    width: 120px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
}

.backButton {
  margin-right: 15px;
}

.backButton:hover, .nextButton:hover {
    background: #757575;  
    border-color: var(--mediumLightGray);  
}

.page {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
  background: #505050;
  border-radius: 8px;
  -webkit-appearance: none;
  height: 35px;
  border-color: #A9A9AA;
  margin: 0px;
}

.button:hover {
  background: #505050;
  border-color: #A9A9AA;
}

.title {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    margin: 0em;
}

.bgStyle {
  background: white;
  padding-bottom: 10em;
  padding-top: 2em;
}

.feeStyle {
    display: flex;
    color: white;
    font-weight: 800;
}

.textStyle {
    margin-left: 5px;
    color: white;
    font-weight: 800;
}
