.ViewPracticePage {
  padding-bottom: 2em;
}

.actions {
  display: block;
  text-align: right;
}

.label {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 2em;
}

.viewAccounts {
  padding-right: 1em;
}