.boldText{
  font-weight:bold;
  padding: 5px 10px;
  color: #000;
  cursor: pointer;
}

.itemLabel {
  display: block;
  margin-top: 4px;
  max-width : 210px;
  line-height: 18px;
}

.boldTextSelect{
  padding: 5px 10px;
  font-weight:bold;
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}
