.viewBox {
    border: 1px solid #000;
    border-radius: 5px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}

.Icons {
    height: 220px;
    display: flex;
    border-bottom: 1px solid #000;
    width: 100%;
    /* padding: 0px; */
    /* margin: 0px; */
    justify-content: center;
}

.purchaseBorder {
    font-weight: bold;
    width: 100%;
    border-top: 1px solid #000;
}

.teamBorder {
    font-weight: bold;
    font-style: italic;
    width: 100%;
    font-size: 13px;
    padding-right: 6px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.team {
    font-weight: bold;
    font-style: italic;
    width: 100%;
    font-size: 13px;
    padding-right: 6px;
    display: flex;
    justify-content: space-between;
}

.img {
    width: 98%;
    height: 210px;
    cursor: pointer;
}

.pdf {
    width: auto;
    height: 210px;
    cursor: pointer;
}

.play {
    position: relative;
    top: -139px;
    background: transparent;
}@media (min-width: 1224px) {
    .largeDocuments {
      width: 16%;
      padding-right: 0%;
      padding-left: 1%;
    }
  }
   .request
  {
      background-color: white !important;
      color: #EA6225 !important;
      text-transform: capitalize;
      font-size: 15px;
      border:0px !important;
      padding: 0px;
      letter-spacing: 0px !important;
  }
  .Viewbox {
      border: 1px solid #000;
      border-radius: 5px;
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0px;
      justify-content: space-around;
      margin-top: 25px;
      margin-bottom: 25px;
  }

.rowStandard {
    margin-bottom: 2em;
    padding-left:25px;
    padding-right:25px;
    font-weight: 400;
    text-align: center;
}

.footers {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px !important;
    /* align-items: center; */
    height: 45px;
    color: #e65454;
    text-transform: uppercase;
}

.icon {
    color: #e65454;
    font-size: 42px;
}

.okIcon {
    color: #ea6225;
    width: 25px;
    height: 25px;
    padding-left: 5px;
}

.vr {
    height: 50px;
    border-left: 0.1em solid #E4E4E4;
}

.submitButton, .submitButton:hover {
    background: none !important;
    border: none !important;
    font-style: italic !important;
    color: #EA6225  !important;
    text-transform: capitalize !important;
    font-size: 15px !important;
    cursor: pointer !important;
    padding-left: 5px !important;
}