/**
 * styles.css
 *
 * App container styles
 */

 .navItems {
  position: relative;
  font-size: 1.3em;
}

.doseSpotCount {
  position: absolute;
  top: -7px;
  /* left: 314px; */
  background: #ea6225;
  border-radius: 25px;
  width: 23px;
  height: 23px;
  text-align: center;
  color: white;
  margin-left: -10px;
}

.cartCount {
  position: absolute;
  top: -7px;
  /* left: 314px; */
  background: #ea6225;
  border-radius: 25px;
  width: 23px;
  height: 23px;
  text-align: center;
  color: white;
  margin-left: -10px;
}

.logout {
  position: relative;
  top: 2em;
  right: 2em;
  font-size: 1em;
  text-align: right;
}

.logout > .open {
  display: none;
  transition: 0.5s all;
}

.version
{
  position: relative;
  vertical-align: bottom;
  text-align: center;
  color: #fff;
  bottom: 30px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.sidebarInner {
  overflow-y: scroll !important;
  overflow: auto !important;
  right: -15px;
  width: 265px;
}


.splitBar {
  width: 3px;
  left: 198px;
  position: absolute;
  cursor: col-resize;
  display: inline-block;
  z-index: 9999;
}


.sidebar::-webkit-scrollbar {
  width: 6px;
  border: 1px solid transparent;
  -webkit-appearance: none;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #FFFF;
  border: 1px solid transparent;
  border-radius:30px;
}

.splitbar::-webkit-scrollbar {
  width: 2px;
  border: 1px solid transparent;
  -webkit-appearance: none;
}

.splitbar::-webkit-scrollbar-thumb {
  background: #FFFF;
  border: 1px solid transparent;
  border-radius:30px;
}


.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: fixed;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999999999;
  left:190px;
  margin-bottom: 0px;
  background: #98999a;
  width: 200px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  bottom: 0;
  margin-left: 0px !important;
  height: 150px;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdownContent {display: block;}

.passDropdown {
  position: relative;
  display: inline-block;
}

.passDropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black;
  font-size: 16px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  right: -45px;
}

.rowStandard {
  margin-bottom: 2em;
  padding-left:25px;
  padding-right:25px;
}

.rowStandardButton {
  padding-left:25px;
  padding-right:25px;
}

.passDropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.passDropdownContent a:hover {background-color: #ddd;}

.passDropdown:hover .passDropdownContent {display: block;}

.btn, .btn:hover {
    color: #ef8b5d;
    background: #FFF;
    border: transparent;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 12px;
    border-radius: 4px;
    margin: 0px;
    margin-right: 13px;
    margin-bottom: 12px;
    min-width: 223px;
}

.submitbtn {
  width: 100%;
  height: 42px;
  /* margin-left: 25px; */
  margin-right: 25px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
  margin-top:25px;
}

.imgC {
  width: 20px;
  height: 20px;
  margin-right: 13px;
  margin-left: -3px;
}