:root {

  --orangeLight:              #ef8b5d;
  --orangePrimary:            #ea6225;
  --orangeSecondary:          #d15015;

  --darkGray:                 #404041;
  --mediumDarkerGray:         #818284;
  --mediumDarkGrey:           #98999a;
  --mediumLightGray:          #c8c9cb;
  --lightGray:                #e7e7e8;

  --containerBackground:      var(--lightGray);
  --navbarColor:              var(--darkGray);
  --sidebarColor:             var(--mediumDarkGrey);
  --sidebarSecondaryColor:    var(--mediumDarkerGray);
  --spinnerColor:             var(--orangePrimary);
  --buttonColor:              var(--orangePrimary);
  --buttonPressedColor:       var(--orangeSecondary);
  --buttonPressedOutline:     var(--orangeSecondary);
  --buttonHoverColor:         var(--orangeLight);
  --textBoxOutlineColor:      #c8c8c8;
  --textBoxFocusColor:        var(--orangeLight);
}