

.Table {
    padding: 25px;
    background: #fff;
    color: #000;
    border-radius: 4px;
}

.title {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleStyle {
  color: #EA6225;
  font-size: 18px;
  font-weight: 700;
}


.closeIcon {
    color: #000000;
    font-size: 28px;
    margin-left: 42px;
    cursor: pointer;
    margin-top: -10px;
}

.headerInfo {
    display: flex;
    align-items: center;
}