.row {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #fff;
    margin: 25px;
    padding: 25px;
    border-radius: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    font-weight: normal;
}

.details table tr td b {
    display:flex;
    justify-content: space-between;
}

.details table tr td {
    text-transform: capitalize;
    vertical-align: top;
    min-width: 142px;
}
.noBrief {
    text-align: center;
    font-style: italic;
}

.header {
    display: flex;
    -ms-flex-pack: justify;
    /* margin: 0px; */
    position: relative;
    justify-content: space-between;
    top: -9px;
    width: 95%;
  }
  
  .img{
    cursor: pointer;
    margin-left: 0.8em;
    width: 32px;
    height: 32px;
  }