
.flexible {
    display: flex;
    justify-content: space-between;
  }
  
  .flexibleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  .flexibleTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: #F2F2F7;
  }

  .flexibleTitleTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    height: 50px;
    background: #D1D1D6;
    padding-left: 1.1em;
  }

  .colMargin {
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 2.4em;
    margin-right: 2em;
  }

  .title {
    font-size: 18px;
    text-transform: capitalize;
    margin: 0em;
    color: rgba(0,0,0,.65);
    font-weight: bold;
  }

  .subTitle {
    font-size: 18px;
    text-transform: capitalize;
    margin: 0em;
    color: rgba(0,0,0,.65);
    font-weight: 500;
  }

  .titleHead {
    font-size: 18px;
    text-transform: capitalize;
    margin: 0em;
    color: #ea6225;
  }

  .timeline {
    padding: 0px;
    background: white;
    border-radius: 6px;
  }

  .view {
    padding-bottom: 25px;
  }

  .pdf, .csv {
    width: 35px;
    height: 35px;
    margin-top: -6px;
    cursor: pointer;
  }

  .csv {
   padding: 4px;
  }

  .formRow {
    margin-top: -5px;
    display: flex;
  }

  .formColumn {
    z-index: 2;
  }

  .revenueColumn {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .revenueStyle {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }

  .contentTop {
    padding-top: 20px;
  }

  .alignTotal {
    display: grid;
    justify-content: flex-end;
    font-size: 16px;
    margin-right: 4em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .alignPayment {
    display: flex !important;
    justify-content: space-between !important;
    padding-left: 10px !important;
    padding-top: 10px !important;
  }

  .alignAmount {
    padding-left: 4em !important;
    font-weight: 700 !important;
  }

  .Table {
      margin-top: 25px;
  }

  .Table tbody {
    border: 0 !important;
  }

  .Table th {
      border-top: none !important;
      border-bottom: 1px solid #8080807a !important;
      padding: 10px !important;
      font-weight: bold !important;
      vertical-align: middle !important;
      font-size: 13px;
  }

  .Table td {
      border: none !important;
      padding: 10px !important;
      font-weight: normal;
      height: 100%;
      font-size: 13px;
      vertical-align: middle !important;
  }

  .insuranceColumn {
    width: 33%;
  }

  .insuranceWidth {
    width: 85%;
  }

  .insuranceTable {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .totalValue {
    display: flex;
    justify-content: flex-end;
    font-weight: 800 !important;
  }

  .treatmentPlanRow {
     background: #ea6225;
     color: white;
  }

  .insuranceRow {
     background: white;
     color: #38a0f1;
  }

  .entriesStyle {
     margin-left: 1em;
     margin-bottom: 1em;
  }

  .actions {
    display: flex;
    flex-direction: row;
  }
