

.saveButton {
    background: #757575;
    border-color: #c8c9cb;
    width: 101px;
    height: 40px;
    margin-top: 29px;
    margin-left: 46%;
    font-size: 14px;
    border-radius: 10px;
}

.saveButton:hover {
    background: #757575;  
    border-color: var(--mediumLightGray);  
}
.infolabel
{
    margin-left: 60px;
    color: #87b44d;
}
.infodescription
{
    color: white;
    margin-left: 27px;  
}
.mainform
{
width: 100%;
display: flex;
justify-content: space-between;
}
.subform
{
width: 50%;
background-color: white;
padding-bottom: 10px;
}