.circle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.circle:hover {
  transform: scale(1.1);
}

.warning {
  background: orange;
  box-shadow: 0 0 1px lightsalmon;

}

.error {
  background: #F31431;
  box-shadow: 0 0 1px lightcoral;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.success {
  background: green;
  box-shadow: 0 0 1px lightgreen;

}

.lead {
  background: grey;
  box-shadow: 0 0 1px lightgrey;

}

.custToLead {
  background: blue;
  box-shadow: 0 0 1px lightgrey;
}


.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  box-sizing: border-box;
  width: 120px;
  transform: translateY(calc(-100% - 0.9em)) translateX(-10%);
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext:before {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 10px solid rgba(0, 0, 0, 0.8);
  content:"\A";

  bottom: 0;
  left: 10%;
  transform: translateY(100%);
}
