@import 'containers/App/styleconstants.css';

.actionButtons {
  margin-top: 1.5em;
}

.buttonStandard {
  margin-right: 1.5em;
}

.buttonLink {
  padding: 0;
  color: var(--orangePrimary);
}

.buttonLink:hover {
  color: var(--orangeLight) !important;
}