
.content 
{
    color: #042322 !important;
    font-size: 14px;
}
.textContent
{
    color: #042322 !important;
    font-size: 14px;
}
.textContent:hover
{
    color: var(--mediumDarkerGray) !important;
    font-size: 14px;
}

.displayDate 
{
    font-weight: 100;
    font-size: 12px;
}
.checkList
{
  margin: 0px 0px 0px 30px !important;
}
.header {
  display: flex;
    justify-content: space-between;
    position: relative;
    top: -9px;
    width: 90%;
}
.fontColor {
  color: #EA6225;
}
