.rowStandard {
    margin-bottom: 2em;
    padding-left:25px;
    padding-right:25px;
    font-weight: 400;
    text-align: center;
}

.rowStandard h4 {
    text-align: center;
    font-weight: bold;
}




.footer {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px !important;
    /* align-items: center; */
    height: 45px;
}

.vr {
    border-left: 0.1em solid #E4E4E4;
}

.submitButton, .submitButton:hover {
    background: none !important;
    border: none !important;  
    color: #6897FC !important;
    text-transform: capitalize !important;
    font-size: 15px !important;
    margin-top: 6px !important;
}