@import 'containers/App/styleconstants.css';

.actionButtons {
  margin-top: 1.5em;
}

.marginTop {
  margin-top: 3.4em;
}

.alignRight {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.alignLeft {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 0.5em;
}

.buttonStandard {
  margin-right: 1.5em;
}

.buttonLink {
  padding: 0;
  color: var(--orangePrimary);
}

.buttonLink:hover {
  color: var(--orangeLight) !important;
}