.MultiRadioBoxField {
  padding: 0px !important;
}

.fields{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    width: 75%;
}

.container {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*width: 50%;*/
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid #87b44d;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ffffff;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #87b44d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 7px;
	left: 7px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.title {
  font-weight: normal;
  font-size: 14px;
}

.clearBtn {
  margin-top: 10px;
  margin-right: 90px;
}

  .titleStyle {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    padding-bottom: 25px;
    margin-top: 0px;
  }

  .plusIcon {
    width: 25px;
    height: 25px;
    margin-top: 3px;
    margin-right: 10px;
    cursor: pointer;
  }
.infoField {
    display:flex;
    justify-content: flex-start;
    margin-right: 15px;
    margin-top: 15px;
}

.infoField label {
    width:25%;
    margin-right: 12px;
    font-size: 16px;
    margin: 11px;
}

.infoField input {
    width: 75%;
    height: 38px;
    color:black;
}