.MultiSelectField,.MultiSelectField:focus  { /* stylelint-disable */
	border: 2px solid var(--textBoxOutlineColor) !important;
	border-radius: 2px !important;
}

.MultiSelectField div {
	border:0px !important;
	max-height: 220px !important;
}
.removePadding {
  padding: 0 !important;
}