@import '../../../containers/App/styleconstants.css';


.ModalForm {
}

.title {
  margin-top: 0px !important;
}

.link {
  cursor: pointer;
}

.rowStandard {
  margin-bottom: 2em;
}


.icon {
  margin-right:6px;
}

.img {
  cursor: pointer;
}


.tooltip {
  visibility: hidden;
  width: auto;
  background-color: #e4e4e4;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.ModalForm:hover .tooltip {
  visibility: visible;
}


.button {
  background: #505050;
  border-radius: 8px;
  -webkit-appearance: none;
  height: 35px;
  border-color: #A9A9AA;
  margin: 0px;
}

.button:hover {
  background: #505050;
  border-color: #A9A9AA;
}

.submitBtn {
  background: #505050;
  -webkit-appearance: none;
  border-color: #A9A9AA;
  margin: 0px;
}

.submitBtn:hover {
  background: #505050eb;
  border-color: #A9A9AA;
}

.closeBtn {
  -webkit-appearance: none;
  border-color: #A9A9AA;
  margin: 0px;
}

.closeBtn:hover {
  border-color: #A9A9AA;
}
