.gallery { /* stylelint-disable */
  margin: 0.5em 0;
}

.implantGallery { /* stylelint-disable */
  margin: 0.5em 0;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.button {
  padding: 0.1em;
}

.sliderView {
  display: inline-flex;
  justify-content: center;
  padding: 10px;
}

.btn ,.btn:hover {
  color: #ea6225 !important;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 2px 12px 0px 0px !important;
}

.icon {
  font-size:12px !important;
  margin-right: 4px;
}

.actions {
  padding-left: 0px;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  padding-bottom: 10px;
}

.actionButton {
  background: #757575;
  border-color: #c8c9cb;
  color: white;
  height: 35px;
  font-size: 14px;
  border-radius: 10px;
  margin-top: 7px;
}

.actionButton:hover {
  background: #757575;
  border-color: var(--mediumLightGray);
}

.adminFeeStyle {
  display: flex;
  color: #ea6225 !important;
  font-weight: 800;
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 15px;
}

.adminFeeStyle:hover {
  color: #ea6225 !important;
}

.feeStyle {
  display: flex;
  color: white;
  font-weight: 800;
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 15px;
}

.feeStyle:hover {
  color: white;
}

.centerAlign {
  display: flex;
  justify-content: center;
}

.listWidth {
  width: 100%;
  margin-bottom: 3em;
}

.listStyle {
  background: white;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #E6E6E6;
  box-shadow: 1px 2px 8px -3px grey;
}