@import '../../containers/App/styleconstants.css';

.csvImport{
  display: inline-block;
  margin-right: 1em;
}

.drop { /* stylelint-disable */
  border: 2px dashed var(--buttonHoverColor);
  width: 100%;
  text-align: center;
  padding: 2em;
  cursor: pointer;
  transition: 0.25s all;
  height: 10rem;
  overflow-y: scroll;
}

.text {
  vertical-align: middle;
  line-height: 4rem;
  }

.drop:hover {
  border-color: var(--buttonPressedColor);
  background: whitesmoke;
}

.drag {
  border: 2px dottedw var(--buttonPressedColor);
  background: whitesmoke;
  width: 100%;
  text-align: center;
  padding: 2em;
  margin-top: 1em;
  cursor: pointer;
}

.error {
  color: orangered;
  text-align: left;
  line-height: 1.8rem;
}

.preview{
  color: cornflowerblue;
}