.title {
  display: inline-block;
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 0;
}

.space {
  margin-top: 2.3em;
}

.options {
  float:right;
  font-size: 0.8em;
  margin-left: 2em;
}

.categoryTitle {
  position: relative;
  top: 10px;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}