.header {
    text-align: center;
    background: #6d6e6f !important;
    min-height: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .subtitle {
    color: #FFF !important;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .btn,.btn:hover  {
    background: none;
    border: none;	
    padding:0px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 13px;
  }

  .body {
    display: inline-block;
    overflow-y: auto;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-left: 25px;
}

.noHoverColor {
  background: #b9b9b9 !important;
  border-color:#b9b9b9 !important;
  color: #000 !important;
}
.noHoverColor:hover {
  background: #b9b9b9 !important;
  color: #000  !important;
}

.address {
  text-align:right;
}

.addButtonStyle{
  margin-top: 0em;
  text-align: right;
}

.buttonStandard {
  margin-right: 1.5em;
}

.cancelButtonStyle{
  margin-top: 4.5em;
  text-align: center;
}

.cancelBtn, .cancelBtn:hover  {
  background: #98999a;
  color: #fff;
  font-size: 11px !important;
  font-weight: bold !important;
  margin-left: 12px;
  border: none;
}

.editForm {
  position: relative;
  z-index: 99999999999;
}

.catalogButtonStyle{
  margin-top: 6.5em;
  text-align: center;
}

.emptyDiv{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  color: #fff;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.rowStandardPayment {
  margin-bottom: 2em;
  padding-left:25px;
  padding-right:25px;
  text-align: center;
}

.icon {
  color: #e65454;
  font-size: 42px;
}

.footer {
    color: #e65454;
    text-align: center !important;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

.footer:hover {
    background: #80808038;
}